/**
 * Last modified: 18.06.19 21:52:59
 * Hash: e51d29056779bcfb17899386811dc4340e8c25a9
 */

@import "rarity.scss";
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700|Open+Sans:300,400,600,700&subset=cyrillic');

$h: #222230;

$open: 'Open Sans', sans-serif;
$old: 'Old Standard TT', serif;

.s1 {

}

.s2 {
  .login-layout {
    background-image: url(/images/bg.png);
    background-size: cover;
    background-position: bottom center;
    overflow-y: hidden;
    .user {
      display: flex;
      align-items: center;
      min-height: 100vh;
      &.login, &.request {
        .form {
          margin-bottom: 25px;
          margin-top: 25px;
          background-image: url(/images/form-content.png);
          background-size: cover;
          background-position: center center;
          border-radius: 20px;
          font-family: 'Open Sans', sans-serif;
          .login-header-form {
            height: 135px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(/images/login-header-form-bg.png);
            background-size: cover;
            background-position: bottom center;
            border-radius: 20px 20px 0 0;
            .logo {
              display: flex;
              img {
                width: 220px;
                height: 90px;
              }
            }
          }
          .form-content {
            padding: 55px 100px 55px;
            @media (max-width: 768px) {
              padding: 55px 15px 55px;
            }
            h1 {
              text-align: center;
              color: $h;
              font-size: 18px;
              text-transform: uppercase;
              margin: 0 0 13px 0;
              font-weight: bold;
            }
            form {
              border-radius: 20px;
              .fields {
                margin-bottom: 10px;
                p {
                  font-size: 12px;
                  margin: 0;
                  color: #b4b4b4;
                  padding-left: 20px;

                }
                .form-group {
                  margin-bottom: 5px;
                  input {
                    height: 35px;
                    border: 0;
                    box-shadow: 0 0 0;
                    font-size: 14px;
                    color: #222230;
                    background-color: #ececec;
                    border-radius: 15px;
                  }
                  input:focus {
                    border: 2px solid #000000;
                    background-color: #DBDBDB;
                    color: #222230;
                  }
                  .help-block {
                    margin: 0;
                  }
                }
              }
              .links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .green-bg {
                  background-color: #7fce59;
                  width: 100%;
                  padding: 5px;
                  border-radius: 15px;
                  button {
                    width: 100%;
                    border-radius: 15px;
                    border: 2px dotted white;
                    color: white;
                    background-color: transparent;
                    height: 45px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 15px;
                  }
                  &:hover {
                    background-color: #FFC44E;
                    transition: .3s;
                  }
                }
                a {
                  font-size: 12px;
                  margin: 0;
                  color: #f6c358;
                  text-decoration: none;
                  font-weight: 900;
                }
              }
              .sign-up {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
              }
              .sign-up a:nth-child(2) {
                color: #222230;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .terms-of-use {
    display: inline-block;

    flex-direction: row;

    font-weight: 700;

    padding: 10px 0 15px 0;
    & p {
      color: #7d7d7d;
    }
    & a {
      text-decoration: underline;
      color: #222230;
      font-family: "Open Sans";
    }
  }
  .control {
    & a {
      color: #222230 !important;
      font-weight: 500 !important;
    }
  }
}


