/**
 * Last modified: 18.06.20 00:04:49
 * Hash: 2b1862aa947e0444eed6bc57cb4b66cfc14602eb
 */

// colors
$black: #2c2c3f;
$black-light: #38384d;
$brown: #87433a;
$green: #7fce59;

$h: #222230;

// shadow
$shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.17);

// fonts
$open: 'Open Sans', sans-serif;
$old: 'Old Standard TT', serif;

// adaptive

@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin table {
	@media (min-width: 768px) and (max-width: 1200px) {
		@content;
	}
}

// min code

body [v-cloak] > * {
	visibility: hidden !important;
}

body #main {
	@media (max-width: 768px) {
		height: 100vh;
	}
}

@mixin bgimage($name, $repeat, $size, $position, $color) {
	$link: "/images/#{$name}";
	background-image: url($link);
	background-repeat: #{$repeat};
	background-size: #{$size};
	background-position: #{$position};
	background-color: #{$color};
}

@mixin flex-center-row() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin hover() {
	&:hover {
		@content;
		cursor: pointer;
	}
}

@mixin focus() {
	&:focus {
		@content;
	}
}

@mixin keyframe($nameAnimate) {
	@-webkit-keyframes #{$nameAnimate} {
		@content;
	}
	@-moz-keyframes #{$nameAnimate}  {
		@content;
	}
	@-o-keyframes #{$nameAnimate} {
		@content;
	}
	@keyframes #{$nameAnimate} {
		@content;
	}
}

@mixin animation($delay, $duration, $cukle, $direction, $function, $nameAnimate) {
	-webkit-animation-delay: $delay;
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $nameAnimate;
	-webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-webkit-animation-iteration-count: $cukle;
	-webkit-animation-timing-function: $function;
	
	-moz-animation-delay: $delay;
	-moz-animation-duration: $duration;
	-moz-animation-name: $nameAnimate;
	-moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-moz-animation-iteration-count: $cukle;
	-moz-animation-timing-function: $function;
	
	-o-animation-delay: $delay;
	-o-animation-duration: $duration;
	-o-animation-name: $nameAnimate;
	-o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-o-animation-iteration-count: $cukle;
	-o-animation-timing-function: $function;
	
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $nameAnimate;
	animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	animation-iteration-count: $cukle;
	animation-timing-function: $function;
	animation-direction: $direction;
}

// UI style
%shadow {
	box-shadow: 1px 0 9px 2px rgba(0, 0, 0, 0.13);
}

img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

// ---------------------- //
body {
	background-image: url("/images/allbg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	//@each $currency, $symvol in ('USD', '$'),
	// ('BTC', '฿'),
	// ('ETH', 'Ξ'),
	// ('ETC', 'ETC'),
	// ('LTC', 'LTC'),
	// ('DOGE', 'DOGE') {
	//	[data-currency="#{$currency}"] {
	//		&::after {
	//			content: ' #{$symvol} ';
	//		}
	//	}
	//}
	
	@each $currency in 'USD' 'BTC' 'ETH' 'ETC' 'LTC' 'DOGE' {
		[data-currency='#{$currency}']:after {
			content: ' #{$currency}' !important;
		}
	}
	
	@each $alertName, $alertBg, $alertColor in (success, green, #004800),
	in (error, red, #4b0000),
	in (warning, orange, #352200),
	in (info, skyblue, #2f5bff), {
		.alert {
			.alert-#{$alertName} {
				background-color: #{$alertBg};
				color: #{$alertColor};
			}
		}
	}
	h2 {
		color: $black;
		margin: 0 0 25px;
		font-weight: 700;
		font-size: 36px;
		padding: 0;
		display: inline-flex;
		line-height: 1;
		text-align: center;
		justify-content: center;
	}
}

.s3 {
	font-family: $old;
	.lang {
		.langu {
			background-image: url("/images/lang.jpg");
			background-repeat: repeat-y;
			box-shadow: 0 0 11px 4px rgba(0, 0, 0, 0.17);
			display: flex;
			height: 100%;
			background-size: contain;
			.lang-button.dropdown-toggle {
				height: 66px;
				box-shadow: none;
				width: 100%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				color: $black;
				font-size: 14px;
				font-weight: 600;
				background-color: transparent;
				border: 0;
				font-family: $old;
				text-transform: uppercase;
				&:after {
					content: ' ';
					background-image: url("/images/arrow.png");
					background-size: cover;
					width: 7px;
					height: 5px;
					margin-left: 5px;
				}
				&:hover {
					text-decoration: none;
					text-transform: uppercase;
					cursor: pointer;
					color: $brown;
					&:after {
						background-image: url("/images/arrow-hover.png");
					}
				}
			}
		}
		.langu.open {
			.dropdown-menu.dropdown-menu-right {
				background-image: url("/images/lang.jpg");
				right: 0;
				left: auto;
				padding: 0;
				border: 0;
				border-radius: 0;
				text-align: center;
				background-repeat: repeat-y;
				box-shadow: 0 15px 11px 1px rgba(0, 0, 0, 0.2);
				display: flex;
				height: 100%;
				background-size: contain;
				flex-direction: column;
				min-width: 100%;
				width: 100%;
				margin: 0px;
				.dropdown-item {
					width: 100%;
					height: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					line-height: 1;
					&:first-child {
						border-bottom: 1px dotted #87433acc;
						border-top: 1px dotted #87433acc;
						padding: 1px 0;
					}
					&:hover span {
						text-decoration: none;
						text-transform: uppercase;
						cursor: pointer;
						color: $brown;
					}
					span {
						color: $black;
						font-size: 14px;
						font-weight: 600;
						font-family: $old;
						text-transform: uppercase;
						line-height: 1;
						&.name {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
	header {
		height: 101px;
		display: flex;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 25px;
		@media (max-width: 768px) {
			display: block;
			margin-bottom: 0;
		}
		.pay-button {
			height: 66px;
			background-image: url("/images/bg-trans-button.png");
			background-repeat: no-repeat;
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-size: 100% 66px;
			a {
				color: #2c2c3f;
				font-size: 16px;
				line-height: 14px;
				text-transform: uppercase;
				height: 50px;
				display: inline-flex;
				align-items: center;
				font-weight: 600;
				min-width: 70px;
				@media (max-width: 768px) {
					font-size: 12px;
				}
				&:hover {
					color: $brown;
					text-decoration: none;
				}
			}
		}
		
		.balance-bg {
			width: 100%;
			background-color: $black;
			.balance {
				height: 35px;
				display: flex;
				align-items: center;
				.balance-position {
					height: 19px;
				}
				span {
					font-family: "Open Sans", sans-serif;
					color: #A1A1A1;
					font-size: 12px;
					text-transform: uppercase;
					display: inline-flex;
					align-items: center;
					min-width: 80px;
					padding: 0 3px;
					&.txt-white {
						font-family: $old;
						font-weight: 400;
						padding: 0;
						color: white;
						font-size: 16px;
						background-image: url("/images/wallet-icon.jpg");
						background-repeat: no-repeat;
						background-position: left 1px;
						padding-left: 29px;
						@media (max-width: 768px) {
							padding: 0 0 0 15px;
							font-size: 11px;
							background-position: left 2px;
							background-size: 12px 10px;
						}
						&:after {
							content: ' ';
							color: transparent;
							font-size: 12px;
							line-height: 1px;
						}
					}
					&:after {
						color: white;
						font-size: 12px;
						margin-left: 3px;
					}
					&:last-child {
						padding-right: 0;
					}
				}
				.balances-mobile {
					display: flex;
					justify-content: space-around;
					box-shadow: inset -15px 0px 15px -20px grey, inset 15px 0px 15px -20px grey;
					// .active
					[data-currency="USD"] {
						color: #c8c8c8;
					}
					span {
						&:hover {
							color: #bdbdbd;
							cursor: pointer;
						}
					}
					@media (max-width: 768px) {
						display: flex;
						overflow: scroll;
						box-shadow: none;
						justify-content: flex-start;
					}
				}
			}
		}
	}
	#main {
		.links-site {
			//display: inline-flex;
			display: none;
			align-items: center;
			margin-bottom: 25px;
			a {
				font-size: 14px;
				font-weight: 600;
				color: $black;
				&:hover {
					color: $black-light;
					text-decoration: none;
				}
				i {
					margin-right: 5px;
				}
			}
			span {
				color: $black;
				font-size: 10px;
				font-weight: 600;
				line-height: 1;
				margin-left: 10px;
				&:last-child {
					font-size: 14px;
					color: $brown;
				}
			}
		}
		.widget {
			&.menu {
				margin-top: -126px;
				@media (max-width: 768px) {
					margin-top: 0;
					position: absolute;
					left: 0;
					box-shadow: 0 0 0 1200px #000000b3;
					background: #000000b3;
					top: 0;
					width: 80%;
					z-index: 2222;
					max-width: 280px;
				}
				.header-menu {
					background-image: url("/images/bg-user.png");
					background-repeat: no-repeat;
					background-size: 100%;
					height: 215px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.logo {
						margin-top: 8px;
						width: 135px;
						margin-bottom: 7px;
						img {
							max-width: 100%;
							height: auto;
						}
					}
					.user-photo {
						width: 92px;
						height: 92px;
						margin-bottom: 17px;
						.photo {
							background-color: wheat;
							border-radius: 100%;
							border: 3px solid #d2be87;
							width: 92px;
							height: 92px;
							background-position: center center;
							background-size: cover;
							background-repeat: no-repeat;
						}
					}
					.user-name {
						background-image: url("/images/bg-name.png");
						height: 38px;
						width: 100%;
						text-align: center;
						font-size: 14px;
						color: $black;
						text-transform: uppercase;
						display: flex;
						align-items: center;
						
						justify-content: center;
						font-weight: 600;
						border-radius: 2px;
						@include keyframe(shadow) {
							0% {
								box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
							}
							25% {
								box-shadow: -4px  -4px 10px 3px rgba(0, 0, 0, 0.4);
							}
							50% {
								box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.2);
							}
							75% {
								box-shadow: 4px   -4px 6px 3px rgba(0, 0, 0, 0.4);
							}
							100% {
								box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
							}
						}
						@include animation(0s, 6s, infinite, alternate-reverse, ease-in-out, shadow);
					}
				}
				ul.main-menu {
					background-image: url("/images/bg-menu.png");
					height: 491px;
					margin: 0;
					padding: 8px 0 0;
					background-size: cover;
					$icons: '\f015', '\f0a9', '\f274', '\f295', '\f0c0', '\f013', '\f03e', '\f071';
					@for $i from 1 through length($icons) {
						li {
							&:nth-child(#{$i}) {
								a {
									&::before {
										content: nth($icons, $i);
										font-family: "FontAwesome";
										display: inline-block;
										margin-right: 8px;
										vertical-align: middle;
										line-height: 14px;
										font-size: 18px;
									}
								}
							}
						}
					}
					li {
						list-style: none;
						padding: 0 30px 0 30px;
						&:nth-child(7) {
							display: none;
						}
						a {
							color: $black;
							font-size: 14px;
							line-height: 1;
							padding: 19px 0 23px;
							border-bottom: 2px dotted #d2c2af;
							display: flex;
							text-transform: uppercase;
							font-weight: 600;
							&.router-link-exact-active {
								color: #a85348;
								text-decoration: none;
								&::before {
									transform: scale(1.1) rotate(0deg);
								}
								&:hover {
									&::before {
										transform: scale(1.1) rotate(0deg);
									}
								}
							}
							&:hover:not(.router-link-exact-active) {
								color: $brown;
								text-decoration: none;
								&:before {
									@include keyframe(menuhover) {
										0% {
											transform: scale(1) rotate(0deg);
										}
										100% {
											transform: scale(1.1) rotate(-10deg);
										}
									}
									@include animation(.2s, 1.2s, 1, alternate, ease, menuhover);
								}
							}
						}
						&:last-child a {
							border-bottom: 0;
						}
					}
				}
			}
		}
		.profile {
			.invest-button {
				margin-bottom: 25px;
				background-color: $green;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 20px;
				padding: 4px;
				font-weight: 600;
				cursor: pointer;
				@extend %shadow;
				&:hover {
					background: linear-gradient(#6ab745, $green);
				}
				a {
					color: white;
					padding: 11px 0 10px;
					font-size: 15px;
					text-transform: uppercase;
					border: 2px dotted white;
					border-radius: 17px;
					width: 100%;
					text-align: center;
					&:after {
						position: absolute;
						content: '';
						width: 100px;
						height: 50px;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			.reflinks {
				margin-bottom: 25px;
				input {
					width: 100%;
					padding: 18px 15px 17px;
					font-size: 14px;
					color: #828282;
					font-family: $open;
					border-radius: 20px;
					border: 0;
					@extend %shadow;
				}
			}
			.informer {
				& > div {
					& > div {
						height: 76px;
						margin-bottom: 25px;
						font-family: $open;
						font-size: 10px;
						color: #c09a65;
						border-radius: 20px;
						background-repeat: no-repeat;
						display: flex;
						flex-direction: column;
						justify-content: center;
						padding-left: 54px;
						box-shadow: 0 0 11px -2px rgba(0, 0, 0, 0.17);
						background-size: 100% 76px;
						@media (max-width: 768px) {
							background-size: contain;
							background-color: #ffffffb3;
						}
						&:nth-child(1) {
							background-image: url("/images/informer-1.png");
						}
						&:nth-child(2) {
							background-image: url("/images/informer-2.png");
						}
						&:nth-child(3) {
							background-image: url("/images/informer-3.png");
						}
						&:nth-child(4) {
							background-image: url("/images/informer-4.png");
						}
						span {
							font-family: $old;
							font-size: 14px;
							font-weight: 600;
							color: $black;
							display: block;
							@each $currency in 'USD' 'BTC' 'ETH' 'ETC' 'LTC' 'DOGE' {
								&[data-currency='#{$currency}']:after {
									content: ' #{$currency}';
									font-size: 16px;
								}
								&[data-currency='#{$currency}']:after {
									content: ' ';
								}
							}
						}
					}
				}
			}
			&.settings {
				padding: 40px 100px;
				border-radius: 20px;
				box-shadow: $shadow;
				background-image: url("/images/bg-form.png");
				background-repeat: no-repeat;
				background-size: 100% 100%;
				@media (max-width: 768px) {
					padding: 20px;
				}
				form {
					.fields {
						.form-group {
							.control-label {
								padding-left: 10px;
								font-family: $open;
								color: #b4b4b4;
								font-size: 12px;
								font-weight: 400;
								
							}
							input {
								background-color: #ececec;
								color: #a6a6ab;
								border-radius: 20px;
								font-family: $open;
								box-shadow: 0 0 0;
								border: 0;
								&:focus {
									color: $black;
									border: 2px solid $black;
									background-color: #dbdbdb;
									box-shadow: 0 0 0;
								}
							}
							.help-block {
							}
						}
						#upload_avatar {
							button {
								background-image: url("/images/bg-payment.png");
								border: 1px solid;
								padding: 3px 30px;
								border-radius: 10px;
								margin-bottom: 10px;
								color: #754f07;
								@extend %shadow;
								&:hover {
									box-shadow: none;
									color: #2c2c3f;
									opacity: 0.9;
									border: 1px solid wheat;
								}
							}
							.field-user-avatar_file {
								display: none;
							}
						}
					}
					.control {
						button {
							background-color: #7fce59;
							width: 100%;
							padding: 5px;
							border-radius: 15px;
							border: 2px dotted white;
							color: white;
							height: 45px;
							text-transform: uppercase;
							font-weight: bold;
							font-size: 15px;
							max-width: 200px;
						}
					}
				}
			}
			.chart {
				@extend %shadow;
				@include bgimage('chart-background.png', no-repeat, 100% 100%, inherit, $brown);
				//background-image: url("/images/chart-background.png");
				//background-repeat: no-repeat;
				//background-size: 100% 100%;
				padding: 30px 10px;
				border-radius: 20px;
				@media (max-width: 768px) {
					display: none;
				}
				@each $currency in 'USD' 'BTC' 'ETH' 'ETC' 'LTC' 'DOGE' {
					[data-currency='#{$currency}']:after {
						content: '' !important;
					}
				}
				.chart-header {
					display: flex;
					justify-content: space-between;
					margin-bottom: 24px;
					h4 {
						margin: 0;
						color: #343434;
						font-size: 18px;
						font-weight: 700;
						padding-left: 16px;
					}
					.currency {
						display: flex;
						padding-right: 16px;
						& > div {
							padding: 0 13px;
							color: white;
							font-family: $open;
							font-size: 14px;
							font-weight: 700;
							&:hover {
								color: $brown;
								cursor: pointer;
								.chart-line {
									background-color: $brown;
								}
							}
							.chart-line {
								height: 2px;
								background: white;
								width: 100%;
								margin-top: 2px;
							}
							@each $currency in 'USD' 'BTC' 'ETH' 'ETC' 'LTC' 'DOGE' {
								&[data-currency='#{$currency}']:after {
									content: ' ';
								}
							}
							&.active {
								color: $brown;
								.chart-line {
									background: $brown;
								}
							}
						}
					}
				}
				
				svg {
					margin-bottom: 18px;
					
					// быдлокод
					.nodes > g {
						display: none;
						:hover {
							display: block;
						}
					}
					.area {
						.domain {
							stroke: transparent;
						}
						.curve {
							fill: transparent;
							stroke: $brown;
							stroke-width: 3px;
						}
						g g.tick line {
							stroke: transparent;
						}
						g g.tick text {
							fill: #624c33;
							font-family: $open;
							font-size: 10px;
							font-weight: 600;
						}
						& > path {
							& + g:nth-child(4) {
								& > g {
									line {
										stroke: transparent;
									}
								}
							}
						}
					}
					.grid {
						&.grid-x {
							.domain {
								stroke: transparent;
							}
							.tick {
								display: none;
								line {
									stroke: #d5b999;
								}
							}
						}
						&.grid-y {
							.domain {
								stroke: transparent;
							}
							.tick {
								line {
									stroke: #d5b999;
								}
								&:nth-child(2n + 1) {
									line {
										display: none;
									}
								}
							}
						}
					}
				}
				
				.chart-footer {
					p {
						color: #624c33;
						margin: 0;
						font-weight: 700;
						font-size: 18px;
						padding-left: 16px;
						span {
							color: $brown;
							font-size: 25px;
							font-weight: 700;
							@each $currency in 'USD' 'BTC' 'ETH' 'ETC' 'LTC' 'DOGE' {
								&[data-currency='#{$currency}']:before {
									content: ' ';
								}
							}
							@each $currency in 'USD' 'BTC' 'ETH' 'ETC' 'LTC' 'DOGE' {
								&[data-currency='#{$currency}']:after {
									content: ' #{$currency}';
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
		.transfer {
			.control {
				display: flex;
				justify-content: space-between;
				@media (max-width: 768px) {
					display: none;
				}
				button {
					&.antikvar-btn {
						background-image: url("/images/bg-form.png");
						width: 100%;
						border: 0;
						border-radius: 18px 18px 0 0;
						padding: 16px 0 15px;
						font-size: 18px;
						height: 51px;
						overflow: hidden;
						color: $brown;
						@extend %shadow;
					}
					&:hover, &.active {
						background: url('/images/bg-structure.jpg');
						position: relative;
						z-index: 1;
					}
				}
			}
			.table-responsive {
				background: url('/images/bg-structure.jpg');
				position: relative;
				z-index: 2;
				box-shadow: 1px 7px 9px 2px rgba(0, 0, 0, 0.13);
				padding: 15px;
				border-radius: 0 0 15px 15px;
				.table {
					border: 2px solid #caa181;
					thead {
						background-color: #caa181;
						tr {
							border-bottom: 2px solid #ecca9b;
							font-size: 18px;
							letter-spacing: .5px;
							font-family: $old;
							th {
								border-bottom: 2px solid #ecca9b;
								color: $brown;
								font-size: 16px;
								border-right: 1px solid #eacab0;
								text-align: center;
								&:last-child {
									border-right: 0 solid #eacab0;
								}
							}
						}
					}
					tbody {
						tr {
							border-top: 0px solid #caa181;
							&[data-status="success"], &[data-status="created"] {
								td {
									border: 0;
									padding: 8px;
									line-height: 1.42857143;
									vertical-align: top;
									font-family: $open;
									border-right: 1px solid #caa181;
									font-weight: 600;
									color: $black;
									text-align: center;
									&:last-child {
										border-right: 0 solid #caa181;
									}
									&.created {
									}
									&.amount {
									}
									&.currency {
									}
									&.created:last-child {
									}
								}
							}
							&:nth-child(2n) {
								background-color: #caa18166;
							}
						}
					}
				}
			}
			.more-button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: (89px * 2 + 200px);
				margin: 10px auto;
				.pattern-left {
					width: 89px;
					height: 60px;
					transform: rotate(180deg);
				}
				.pattern-right {
					width: 89px;
					height: 60px;
				}
				
				button {
					&.more {
						background: transparent;
						font-size: 24px;
						color: #87433a;
						font-weight: 700;
						margin: 0 10px;
						position: relative;
						text-transform: uppercase;
						border: 0 solid;
						display: block;
						box-shadow: none;
						&:hover {
							box-shadow: none;
							color: black;
						}
					}
				}
			}
		}
		.structure {
			.div-table {
				padding: 15px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				border-radius: 25px;
				background-image: url("/images/bg-structure.jpg");
				.referrals-block {
					width: 100%;
					.info {
						display: flex;
						width: 100%;
						justify-content: space-between;
						height: 65px;
						padding: 0 20px;
						align-items: center;
						border-bottom: 1px solid #caa181;
						font-size: 13px;
						font-weight: 400;
						letter-spacing: -0.2px;
						font-family: $open;
						&:hover {
							& * {
								color: #644e3e;
							}
						}
						& > * {
							padding: 10px 2px;
							display: inline-flex;
							height: 100%;
							align-items: center;
							&:first-child {
								margin-left: 0;
								width: 200px;
							}
							&:nth-child(2) {
								border-right: 1px solid #caa181;
								border-left: 1px solid #caa181;
								margin: 0 10px;
								padding: 0 10px;
								width: 100px;
							}
							&:last-child {
								width: 200px;
								margin-right: 0;
								border-right: 0;
							}
							&::after {
								background: #dacdbc;
								box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
								color: #8d5d38;
								content: attr(data-tooltip);
								margin-top: -54px;
								opacity: 0;
								padding: 5px 8px 2px;
								position: absolute;
								visibility: hidden;
								transition: all 0.4s ease-in-out;
								font-family: $old;
								text-transform: uppercase;
								letter-spacing: 1px;
								border-radius: 2px;
								text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
								border: 1px solid;
								font-weight: 700;
								font-size: 12px;
							}
							&:hover::after {
								opacity: 1;
								visibility: visible;
							}
						}
						.nick {
							font-weight: 600;
							& span::first-letter {
								text-transform: uppercase;
							}
							.avatar {
								display: block;
								width: 30px;
								margin-right: 5px;
							}
						}
						.referral {
							cursor: pointer;
							font-weight: 700;
							font-family: $old;
							font-size: 13px;
							text-align: center;
							justify-content: center;
							
						}
						.created {
							justify-content: right;
							padding: 0;
							margin: 0;
							font-size: 10px;
							color: #9a7151;
							line-height: 1.1;
							text-align: right;
							font-weight: 700;
							text-shadow: 0 0 0 transparent;
						}
					}
					
					& > .referral {
						&.header {
							.info {
								div {
									font-weight: 600;
									font-size: 18px;
									color: #9a7151;
									border: 0;
									&.nick {
										display: flex;
									}
									&.referral {
										i.fa {
											font-size: 30px;
										}
									}
									.fa {
										margin-right: 5px;
										position: relative;
										top: -2px;
									}
									
									&.created {
										justify-content: right;
										border: 0;
										padding: 0;
										margin: 0;
										font-size: 18px;
										line-height: 1.1;
										text-align: right;
										font-weight: 700;
										text-shadow: 0 0 0 transparent;
									}
								}
							}
						}
					}
					& > .children {
						border: 4px solid #caa181;
						background: wheat;
						width: 100%;
						& > .referral {
							&:nth-child(2n) {
								background: #ffeec3;
							}
							& > .info {
								&:hover {
									cursor: pointer;
									background-color: rgba(202, 161, 129, 0.54);
								}
							}
							.info {
								.nick {
									.avatar {
										height: 30px;
										background-position: center;
										background-size: cover;
									}
								}
							}
							&.active {
								color: #644e3e;
								.children[data-level="2"] {
									border-left: 10px solid #caa181;
									border-right: 10px solid transparent;
									background-color: rgba(202, 161, 129, 0.54);
									.info {
										padding: 0 10px;
										&:hover {
											cursor: auto;
											background-color: transparent;
											opacity: 0.8;
											& *:after {
												display: none;
											}
										}
									}
								}
								& > .info {
									&:hover {
										background-color: transparent;
										opacity: 0.9;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.programs {
		.program {
			.plans {
				min-height: 447px;
				padding: 150px 0 0;
				background-repeat: no-repeat;
				background-size: 100%;
				@media (max-width: 768px) {
					min-height: 500px;
					margin: 0 auto;
					padding: 150px 0 0;
					background-repeat: no-repeat;
					background-size: 100%;
					max-height: 500px;
					height: 500px;
					max-width: 290px;
				}
				h2 {
					margin: 0 auto 50px;
					text-align: center;
					color: white;
					text-transform: uppercase;
					font-size: 24px;
					display: inline-block;
					border: 0;
					width: 100%;
				}
				ul {
					margin: 0 0 20px;
					padding: 0;
					@media (max-width: 768px) {
						margin-top: 30px;
					}
					li {
						list-style: none;
						text-align: center;
						span {
							font-family: $open;
							color: $black;
							font-size: 14px;
							&.name {
							}
							&.value {
								color: #87433a;
								font-weight: 600;
							}
						}
					}
				}
				& > button, .help-block + button {
					width: 97%;
					height: 50px;
					border: 0;
					font-size: 18px;
					color: white;
					text-transform: uppercase;
					border-radius: 30px 0 0 30px;
					margin: 0 0 0 7%;
					box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
					opacity: 1;
				}
				.form {
					.form-group {
						display: flex;
						input {
							width: 80%;
							margin: 0 auto;
							border-radius: 30px;
							padding: 18px;
							border: 1px solid grey;
							text-align: center;
						}
					}
				}
			}
			&.active {
				.plans {
					.duration, .income, .rate {
						display: none;
					}
					ul {
						margin: 0 0 5px;
						@media (max-width: 768px) {
							margin-top: 30px;
						}
					}
					.form {
						.form-header {
							display: flex;
							margin-left: 7%;
							width: 97%;
							position: relative;
							border-radius: 20px 0 0 20px;
							@extend %shadow;
							@include flex-center-row();
							button.dropdown-toggle {
								border-radius: 30px 0 0 30px;
								color: white;
								padding: 0 0 0 10px;
								width: 30%;
								height: 40px;
								font-weight: 700;
								letter-spacing: 0.5px;
								&:after {
									content: ' v';
									font-family: $open;
									line-height: 1;
									font-weight: 900;
									font-size: 11px;
									position: relative;
								}
							}
							&.open {
								.dropdown-menu {
									background: url("/images/lang.jpg") center center / 100% repeat;
									top: 40px;
									left: 30px;
									display: flex;
									flex-wrap: wrap;
									max-width: 100px;
									font-size: 14px;
									line-height: 1;
									font-weight: 600;
									width: 98px;
									padding: 10px 17px;
									align-items: center;
									justify-content: space-between;
									.dropdown-item {
										padding: 5px 10px;
										text-align: center;
										background: $brown;
										border-radius: 20px;
										color: white;
										margin: 2px;
										transition: all 0.6s;
										@extend %shadow;
										@include hover() {
											opacity: 0.9;
											position: relative;
											bottom: 0;
											transition: all 1s;
											cursor: pointer;
											border: 1px solid #751515;
										}
									}
								}
							}
							.form-group {
								margin: 0;
								width: 70%;
								input {
									width: 100%;
									border-radius: 0;
									padding: 20px 0 18px 0;
									color: black;
									font-size: 16px;
									line-height: 1;
									position: relative;
									z-index: 2;
								}
							}
						}
						.help-block {
							color: #d76a6a;
							margin: 0 7%;
							height: 39px;
							text-align: center;
							line-height: 1.2;
							font-family: $open;
							font-size: 12px;
							@include flex-center-row();
						}
					}
				}
			}
		}
		
		@each $number, $color, $bghover, $colorhover, $bginput in ('1', #7fce59, #75bf5f, #316521, #cfffa9),
		 ('2', #f6c358, #febe74, #8d4e18, #fff388), ('3', #3d3c81, #8280f0, #3d3c81, #D0D0EF) {
			#program#{$number} {
				.plans {
					background-image: url("/images/plan-#{$number}.png");
					&::after {
						content: ' ';
						width: 11px;
						height: 49px;
						position: absolute;
						right: 4px;
						bottom: 38px;
						transform: skewY(-29deg);
						background-color: #{$color};
						@media (max-width: 768px) {
							display: none;
						}
					}
					.dropdown-toggle {
						background-color: #{$color};
						&:hover {
							cursor: pointer;
							background-color: #{$bghover};
							color: #{$colorhover};
						}
					}
					.form-group {
						&::after {
							content: ' ';
							width: 11px;
							height: 38px;
							position: absolute;
							right: -1px;
							display: block;
							bottom: -3px;
							background-color: #{$color};
							transform: skewY(-29deg);
							z-index: 1;
							@media (max-width: 768px) {
								content: ' ';
							}
						}
						input {
							border: 1px solid #{$color};
							border-right: 0;
							background-color: #{$bginput};
							transition: all 0.5s;
							
							&:focus {
								background-color: white;
								box-shadow: 0 0 0;
								transition: all 0.5s;
							}
						}
					}
					ul + button, .help-block + button {
						background-color: #{$color};
						position: relative;
						z-index: 2;
						&:hover {
							background-color: #{$bghover};
							color: #{$colorhover};
							& + .plans::after {
								background-color: #{$bghover};
								color: #{$colorhover};
								box-shadow: inset 0 0 10px black;
							}
						}
					}
				}
				&.active {
					ul + button, .help-block + button {
						transition: all 0.5s;
						background-color: #{$bghover};
						color: #{$colorhover};
					}
				}
			}
		}
	}
	.nodes {
		.node {
			background-image: url("/images/bg-my-plan-1.png");
			display: flex;
			justify-content: space-between;
			margin-bottom: 75px;
			background-size: 671px 327px;
			background-repeat: no-repeat;
			@media (max-width: 768px) {
				flex-direction: column;
				display: flex;
				justify-content: space-between;
				margin-bottom: 75px;
				background-size: 120% 47%;
				background-repeat: no-repeat;
				border-radius: 30px;
				background-position: top center;
			}
			.img-plan {
				background-repeat: no-repeat;
				background-image: url("/images/my-plan-1.png");
				background-size: 100%;
				width: 300px;
			}
			.inform-plan {
				width: 270px;
				display: flex;
				flex-direction: column;
				@media (max-width: 768px) {
					flex-direction: column;
					text-align: center;
					width: 100%;
				}
				h2 {
					margin: 40px 0 17px;
					text-transform: uppercase;
					font-size: 30px;
					font-weight: 700;
				}
				.header-my-plan {
					margin-bottom: 45px;
					.white-info {
						p {
							color: white;
							margin: 0;
							font-family: $open;
							font-size: 14px;
							line-height: 1.3;
							span {
								font-weight: 800;
							}
						}
					}
				}
				.midle-my-plan {
					margin-bottom: 45px;
					.black-info {
						p {
							color: $black;
							margin: 0;
							font-family: $open;
							font-size: 14px;
							line-height: 1.3;
							span {
								font-weight: 800;
							}
						}
					}
				}
				.footer-my-plan {
					width: 100%;
					height: 60px;
					@media (max-width: 768px) {
						padding: 0 20px;
					}
					.plan-progress {
						.bg-progress {
							background-color: #969595;
							height: 10px;
							width: 100%;
							margin-bottom: 3px;
							.success-progress {
								height: 10px;
								width: 10%;
								background: url("/images/progress-success.png") repeat-x;
							}
							.visual-progress-info {
							}
						}
						.progress-info {
							display: flex;
							justify-content: space-between;
							span {
								font-family: $open;
								color: #575555;
								font-size: 14px;
								line-height: 1;
							}
						}
					}
				}
			}
			.dinamic-info {
				@include bgimage('clock-dynamic-info-bg.png', no-repeat, none, top left, transparent);
				width: 296px;
				height: 411px;
				margin-top: -41px;
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;
				padding-left: (296px - 173px) / 2;
				padding-right: (296px - 173px) / 2;
				padding-top: (411px - 259px) / 2;
				.clock-box {
					width: 100%;
					height: 100%;
					.header-clock {
						@include bgimage('clock-bg.png', no-repeat, none, top left, transparent);
						width: 172px;
						height: 172px;
						margin-bottom: 28px;
						.widget {
							&.clock {
								.circle {
									width: 172px;
									height: 172px;
									position: absolute;
									&.minutes {
										@include bgimage('clock-m.png', no-repeat, none, top left, transparent);
									}
									&.seconds {
										background-image: none;
									}
									&.hours {
										@include bgimage('clock-h.png', no-repeat, none, top left, transparent);
									}
								}
							}
						}
					}
					.footer-clock {
						height: 60px;
						h5 {
							color: $black;
							margin: 0 0 16px;
							font-weight: 700;
							letter-spacing: -0.2px;
							font-size: 14px;
							line-height: 1;
						}
						.timer {
							line-height: 1;
							color: $brown;
							margin: 0;
							font-weight: 700;
							letter-spacing: -0.2px;
							font-size: 36px;
						}
					}
				}
			}
			
			&[data-program="1"] {
				background-image: url("/images/bg-my-plan-1.png");
				.img-plan {
					background-image: url("/images/my-plan-1.png");
					width: 261px;
					height: 284px;
					margin: 17px 29px 30px 10px;
				}
				.inform-plan {
					h2 {
						color: #3c6b2f;
					}
				}
			}
			&[data-program="2"] {
				background-image: url("/images/bg-my-plan-2.png");
				.img-plan {
					background-image: url("/images/my-plan-2.png");
					width: 253px;
					height: 284px;
				}
			}
			&[data-program="3"] {
				background-image: url("/images/bg-my-plan-3.png");
				.img-plan {
					background-image: url("/images/my-plan-3.png");
					width: 267px;
					height: 295px;
				}
			}
		}
	}
	.mobile-block {
		display: none;
		@media (max-width: 768px) {
			background: url("/images/bg-mobile-menu.jpg") no-repeat;
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			height: 50px;
			background-size: cover;
			.menu-button {
				background: url("/images/lang.jpg") no-repeat;
				background-size: 100% 50px;
				box-shadow: $shadow;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				i {
				}
			}
			.links-site {
				margin-bottom: 0;
			}
			.lang {
				background: url("/images/lang.jpg") center center / 100% repeat;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				.lang-button {
					height: auto;
					background-size: 100% 50px;
					
				}
			}
		}
	}
	
	footer {
		.footer {
			margin-top: 50px;
			background-image: url("/images/footer-bg.jpg");
			padding-top: 40px;
			padding-bottom: 40px;
			@media (max-width: 768px) {
				display: none;
			}
			.logo {
			}
			h4 {
				font-family: "Old Standard TT", serif;
				color: white;
				font-size: 19px;
				margin: 16px 0 15px 0;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			p {
				color: white;
				font-size: 18px;
				font-family: $open;
				line-height: 1.6;
			}
			.divider {
				width: 100%;
				border-bottom: 2px dashed #393950;
				margin: 35px 0;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					padding: 0 0 15px;
					a {
						color: white;
						letter-spacing: 1px;
						padding-bottom: 15px;
						font-size: 24px;
						font-family: "Old Standard TT", serif;
						&.social-media {
							color: white;
							letter-spacing: 1px;
							padding-bottom: 15px;
							font-family: "Old Standard TT", serif;
							font-size: 18px;
							line-height: 24px
						}
					}
				}
			}
			
			#gallery-1 img {
				border: 0px solid #cfcfcf !important;
			}
			
			.gallery {
				display: flex;
				flex-wrap: wrap;
			}
			
			.gallery-item {
				display: flex;
				img {
					margin-right: 10px;
					margin-bottom: 10px;
					width: 60px;
					height: 60px;
					max-width: 60px;
				}
			}
		}
		.copywrite {
			height: 50px;
			background-color: $black-light;
			margin-top: 0;
			width: 100%;
			font-family: $open;
			font-size: 14px;
			color: white;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.copywrite-txt {
				
				p {
					margin: 0;
				}
			}
		}
	}
	.invoice {
		&.payment, &.withdraw {
			form {
				.systems {
					display: flex;
					justify-content: flex-start;
					align-items: flex-end;
					max-width: 96%;
					button {
						background-image: url("/images/bg-payment.png");
						height: 34px;
						font-family: "Open Sans", sans-serif;
						font-weight: 600;
						color: #2c2c3f;
						border-radius: 20px 20px 0 0;
						font-size: 13px;
						width: 30%;
						position: relative;
						top: 0;
						line-height: 1.1;
						z-index: 0;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 100% 100%;
						border: 1px solid #94784e;
						padding: 0;
						display: flex;
						justify-content: center;
						align-items: flex-start;
						margin: 16px 0 0;
						&.active, &:hover {
							background-image: url("/images/bg-form.png");
							top: 0;
							color: #87433a;
							font-weight: 500;
							background-size: inherit;
							z-index: 2;
							position: relative;
							box-shadow: 0px -2px 7px -5px rgba(0, 0, 0, 0.4);
							border: 0;
							height: 50px;
							margin: 0;
						}
					}
				}
				.form {
					width: 100%;
					background-image: url("/images/bg-form.png");
					padding: 30px 100px 65px;
					background-position: left bottom;
					position: relative;
					z-index: 1;
					border-radius: 0 30px 30px;
					@extend %shadow;
					@media (max-width: 768px) {
						padding: 20px;
						margin-bottom: 25px;
					}
					h3 {
						margin: 0;
						font-size: 24px;
					}
					.fields {
						.visible {
							.form-group {
								.control-label {
									color: #b4b4b4;
									font-family: $open;
									font-weight: 400;
									padding-left: 20px;
									font-size: 12px;
								}
								input.form-control {
									background-color: #dbdbdb;
									box-shadow: none;
									padding: 0 20px;
									border: 0;
									border-radius: 30px;
									font-size: 14px;
									&:focus {
										box-shadow: none;
									}
								}
								.help-block {
								}
								&.field-invoice-text {
									display: none;
								}
							}
							textarea {
								border-radius: 30px;
								border: 0;
								background-color: #dcdcdc;
								width: 100%;
								height: 50px;
								font-size: 13px;
								max-width: 100%;
								min-height: 50px;
								max-height: 1000px;
								line-height: 1.1;
							}
						}
					}
					.control {
						background-color: #7fce59;
						width: 100%;
						padding: 5px;
						border-radius: 15px;
						button {
							width: 100%;
							border-radius: 15px;
							border: 2px dotted white;
							color: white;
							background-color: transparent;
							height: 45px;
							text-transform: uppercase;
							font-weight: bold;
							cursor: pointer;
							font-size: 16px;
							transition: all 0.6s;
							box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
							display: flex;
							align-items: center;
							justify-content: center;
						}
						&:hover {
							background-color: #FFC44E;
							transition: all 0.6s;
							box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
						}
					}
				}
			}
			.crypto {
				@media (max-width: 768px) {
					margin-bottom: 25px;
				}
				.crypto-bg {
					background: url("/images/allbg.jpg");
					padding: 20px 10px;
					border-radius: 30px;
					background-position: right center;
					background-size: 100% 100%;
					background-repeat: no-repeat;
					border: 2px dashed #874351;
					@extend %shadow;
					@each $crypto, $crypto-logo in ('#BTC' : 'btc.png', '#ETH' : 'eth.png', '#ETC' : 'etc.png', '#LTC' : 'ltc.png', '#DOGE' : 'doge.png') {
						#{$crypto} {
							.get-wallet-block {
								background-image: url("/images/bg-cripto.png");
								background-size: 100% 60px;
								background-repeat: no-repeat;
								background-position: bottom;
								height: 75px;
								padding: 6px;
								display: flex;
								justify-content: center;
								align-items: center;
								cursor: pointer;
								margin-bottom: 10px;
								&:hover {
									.get-wallet {
										.wallet-border {
											color: $black;
											border: 2px dashed $black;
										}
									}
								}
								&:last-child {
									margin-bottom: 15px;
								}
								.get-wallet {
									width: 100%;
									height: 100%;
									display: flex;
									justify-content: center;
									align-items: flex-end;
									.wallet-border {
										width: 100%;
										height: 48px;
										border: 2px dashed #b99056;
										margin-bottom: 0;
										border-radius: 15px;
										display: flex;
										flex-direction: row;
										align-items: center;
										padding: 0 5px;
										font-size: 11px;
										color: $brown;
										text-transform: uppercase;
										font-weight: 700;
										.icon {
											width: 81px;
											height: 73px;
											background-repeat: no-repeat;
											background-size: contain;
											background-position: center bottom;
											display: inline-block;
											background-image: url("/images/icon-#{$crypto-logo}");
											margin-right: 10px;
											position: relative;
											bottom: 8px;
											opacity: 0.9;
										}
									}
								}
							}
						}
						#{$crypto} {
							.wallet-block {
								.label {
									color: $black;
									font-size: 14px;
									padding-left: 15px;
								}
								.wallet {
									display: flex;
									width: 100%;
									justify-content: center;
									font-size: 9px;
									background: white;
									align-items: center;
									color: $black-light;
									font-family: $open;
									border-radius: 15px;
									padding: 5px;
									border: 1px solid #b99056;
									height: 35px;
									margin-bottom: 15px;
									@extend %shadow;
									
									//&::before {
									//  width: (82px/4);
									//  height: (74px/4);
									//  background-repeat: no-repeat;
									//  background-size: contain;
									//
									//  display: inline-block;
									//  background-image: url("/images/icon-#{$crypto-logo}");
									//  content: "";
									//}
								}
							}
						}
					}
				}
			}
		}
	}
	.invoice.withdraw form .systems {
		@media (max-width: 768px) {
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}
		
		button {
			@media (max-width: 768px) {
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
				margin: 0 0 20px;
			}
			&.active, &:hover {
				height: 34px;
				margin: 0 0 20px;
				border: 1px solid;
				font-weight: bold;
			}
		}
	}
}

.settings {
	.field-user-phone,
	.field-user-skype,
	.field-user-site,
	.field-user-telegram, button a {
		display: none;
	}
}