@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|PT+Sans:400,700&subset=cyrillic,cyrillic-ext');

//colors
$blue: #157EFB;
$gray_background: #e4e5e7;

$eth: #007bff;
$eth-txt: #4a95f8;
$eth-two: #3295ff;
$btc: #eda711;
$usd: #7fce59;
$doge: #edc611;
$red: #d24f4c;
$gray-txt: #616161;
$etc: #3c763d;
$xrp: #2f5bff;
$ltc: #5e5e5e;
$ethl: #0090ff;
$eth-plan: #6db2fc;

$white: white;
$color_apple_approx: #459f33;
$color_apple_10_approx: rgba(69, 159, 51, 0.1);
$color_robins_egg_blue_approx: #00c4f7;
$color_robins_egg_blue_10_approx: rgba(0, 196, 247, 0.1);
$color_west_side_approx: #ff8d1a;
$color_west_side_10_approx: rgba(255, 141, 26, 0.1);
$black: black;
$chart_violet: #5E6EBB;

$comfortaa: 'Comfortaa', cursive;
$ptsans: "PT Sans", serif;

%shadow {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

%shadow-else {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

%shadow-light {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

@mixin keyframe($nameAnimate) {
	@-webkit-keyframes #{$nameAnimate} {
		@content;
	}
	@-moz-keyframes #{$nameAnimate}  {
		@content;
	}
	@-o-keyframes #{$nameAnimate} {
		@content;
	}
	@keyframes #{$nameAnimate} {
		@content;
	}
}

@mixin animation($delay, $duration, $cukle, $direction, $function, $animation) {
	-webkit-animation-delay: $delay;
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $animation;
	-webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-webkit-animation-iteration-count: $cukle;
	-webkit-animation-timing-function: $function;
	
	-moz-animation-delay: $delay;
	-moz-animation-duration: $duration;
	-moz-animation-name: $animation;
	-moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-moz-animation-iteration-count: $cukle;
	-moz-animation-timing-function: $function;
	
	-o-animation-delay: $delay;
	-o-animation-duration: $duration;
	-o-animation-name: $animation;
	-o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-o-animation-iteration-count: $cukle;
	-o-animation-timing-function: $function;
	
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	animation-iteration-count: $cukle;
	animation-timing-function: $function;
	animation-direction: $direction;
}

//urls
//@extend-elements

// programmer
.s1 {
	#analytics {
		display: none;
	}
	body {
		margin: 0;
	}
	header {
		.screenshot {
			background-image: url("/images/header.png");
			width: 678px;
			height: 112px;
			top: 0;
			right: 0;
		}
	}
	@media (min-width: 768px) {
		#main .container > .menu > .screenshot {
			height: 100%;
			width: 100%;
			background-image: url("/images/menu.png");
		}
	}
	.screenshot {
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0.7;
	}
	&[data-mode="prod"] {
		.screenshot {
			display: none;
		}
	}
	.percent::after {
		content: '%';
	}
	input[placeholder] {
		&:focus::-webkit-input-placeholder {
			color: transparent !important;
		}
		&:focus::-moz-placeholder {
			color: transparent !important;
		}
		&:focus:-moz-placeholder {
			color: transparent !important;
		}
		&:focus:-ms-input-placeholder {
			color: transparent !important;
			
		}
	}
	@each $currency, $color in (USD : $usd, ETH : $eth, ETC : $etc, DOGE : $doge, BTC : $btc, LTC : $ltc) {
		[data-currency="#{$currency}"], .#{$currency} {
			&::after {
				content: ' #{$currency} ';
				//color: #{$color};
			}
		}
		#balance .btn.dropdown-toggle[data-currency="#{$currency}"] {
			background-color: #{$color};
			&::after {
				background-color: #{$color};
			}
		}
	}
	@each $currency, $color in (usd : $usd, eth : $eth, etc : $etc, doge : $doge, btc : $btc, ltc : $ltc) {
		.#{$currency} {
			&::after {
				content: ' #{$currency} ';
				text-transform: uppercase;
			}
		}
	}
	#informer {
		//display: flex;
		//flex-wrap: wrap;
		//> * {
		//  cursor: move;
		//}
	}
	
	#screenshot {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		overflow-y: scroll;
		&.done {
			background-color: rgba(0, 0, 0, 0.6);
		}
		//&.loading {
		//  background: url("/images/loading.svg") rgba(0, 0, 0, 0.6) no-repeat center;
		//}
		
		canvas {
			transform: scale(0.94);
		}
	}
	
	.feather.feather-camera {
		display: none;
		position: absolute;
		top: 8px;
		right: 8px;
		color: white;
		font-size: 40px;
		cursor: pointer;
	}
	
	#screenshot-download-arrow {
		display: none;
		position: fixed;
		bottom: 64px;
		left: 112px;
		color: greenyellow;
		> * {
			transform: scale(5);
		}
		&.animated {
			display: block;
		}
	}
	
	#zen {
		position: fixed;
		top: 0;
		border: 0 dotted black;
		pointer-events: none;
	}
	
	#zen > div {
		position: absolute;
		top: -20px;
		width: 300px;
		font-family: $comfortaa;
		font-size: 12px;
		padding: 2px 4px;
		border: 1px solid black;
		background-color: white;
	}
	
	[name=zen] {
		display: none;
		border: none;
	}
	
	.menu2 ul li {
		position: relative;
		&:hover::after {
			display: none;
			position: absolute;
			content: "\2195";
			font-size: 28px;
			color: rgba(0, 0, 0, 0.12);
			top: 4px;
			right: 12px;
		}
	}
	
	.transfer.index table {
		.ui-selectee {
			cursor: pointer;
		}
		.ui-selected {
			color: blue;
		}
		
		[data-time] {
			vertical-align: middle;
			.from-now {
				opacity: 0.6;
				font-style: italic;
				font-size: 11px;
			}
		}
	}
	
	[v-cloak] > * {
		visibility: hidden;
	}
}

footer {
	#payeer {
		margin-left: 120px;
	}

	#interkassa img {
		height: 60px;
	}
}

.program.frame {
	iframe {
		width: 100%;
		min-height: 85vh;
		border: none;
	}
}

.settings.verification {
	.choose-file [type="file"] {
		display: none;
	}

	.view-link img {
		max-width: 200px;
	}
}

// .s1 programmer

.s2 // designer
{
	
	background: $gray_background;
	img {
		max-width: 100%;
	}
	* {
		font-family: $comfortaa;
	}
	a, button {
		cursor: pointer;
		&:focus {
			outline: 0;
			outline-offset: 0;
		}
		&:hover {
			opacity: 0.9;
		}
	}
	.control {
		a, button {
			cursor: pointer;
			&:hover {
				opacity: 0.9;
			}
		}
	}
	.alert {
		padding: 5px 15px 3px;
		border: 1px solid transparent;
		box-shadow: 0 0 0;
		&.alert-warning {
			background-color: #ffffa5;
			border-color: #ffe751;
			border-radius: 0;
			color: #cd8700;
		}
		
	}
	h2 {
		font-size: 18px;
		color: #545454;
		&.page-title {
			margin: 0 0 22px;
			color: $eth;
		}
	}
	.header {
		background: $eth;
		height: 76px;
		display: flex;
		align-items: center;
		@media (max-width: 768px) {
			height: auto;
			flex-wrap: wrap;
			background: linear-gradient($eth-two 50%, $eth 50%);
		}
		header {
			display: flex;
			align-items: center;
			.menu-button {
				svg {
					color: white;
				}
			}
			@media (max-width: 768px) {
				flex-wrap: wrap;
				padding-top: 10px;
			}
			#balance {
				background: white;
				border-radius: 25px;
				height: 36px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.value {
					color: #878787;
					font-family: $comfortaa;
					font-size: 18px;
					line-height: 18px;
					padding-top: 3px;
				}
				.btn-group {
					display: flex;
					align-items: center;
					width: auto;
					&:hover {
						background-color: transparent;
						border-radius: 0;
					}
					button {
						background: $btc;
						border-radius: 30px;
						margin-right: 5px;
						padding: 2px 0 0 5px;
						margin-left: 8px;
						width: 64px;
						color: white;
						font-family: $comfortaa;
						height: 27px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 14px;
						line-height: 14px;
						&:after {
							content: " ▼";
							color: white;
							font-size: 8px;
							margin-left: 1px;
						}
						&:hover {
							opacity: 0.9;
						}
					}
					&.open button {
						&:hover {
							opacity: 1;
						}
					}
					
					.dropdown-menu {
						min-width: 200px;
						padding: 8px 13px;
						border-radius: 20px;
						text-align: right;
						.select-balance {
							color: #878787;
							cursor: pointer;
							margin: 0;
							padding: 3px 0;
							border-bottom: 1px solid #dedede;
							display: flex;
							justify-content: flex-end;
							align-items: center;
							font-size: 12px;
							&:hover {
								text-decoration: none;
							}
							&:last-child {
								border: 0;
							}
							&:after {
								color: white;
								text-align: center;
								width: 40px;
								display: flex;
								height: 18px;
								margin-left: 5px;
								justify-content: center;
								align-items: center;
								border-radius: 25px;
								padding: 1px 0 0;
								font-size: 11px;
							}
							&[data-currency="USD"] {
								&:after {
									content: ' USD ';
									background-color: $usd;
								}
							}
							&[data-currency="BTC"] {
								&:after {
									content: ' BTC ';
									background-color: $btc;
								}
							}
							&[data-currency="ETH"] {
								&:after {
									content: ' ETH ';
									background-color: $eth;
								}
							}
							&[data-currency="ETC"] {
								&:after {
									content: ' ETC ';
									background-color: #3c763d;
								}
							}
							&[data-currency="XRP"] {
								&:after {
									content: ' XRP ';
									background-color: #2f5bff;
								}
							}
							&[data-currency="LTC"] {
								&:after {
									content: ' LTC ';
									background-color: #5e5e5e;
								}
							}
							&[data-currency="DOGE"] {
								&:after {
									content: ' DOGE ';
									background-color: $doge;
								}
							}
						}
					}
				}
			}
			.pay {
				background: $eth-two;
				border: 2px solid $eth-two;
				border-radius: 25px;
				height: 36px;
				display: flex;
				font-family: $comfortaa;
				font-weight: 700;
				color: #fff;
				align-items: center;
				justify-content: space-between;
				padding: 0 7px 0 7px;
				font-size: 13px;
				box-sizing: border-box;
				@media (max-width: 768px) {
					padding-left: 10px;
				}
				&:hover {
					text-decoration: none;
					border: 2px solid white;
					box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
					&:after {
						background-color: $usd;
						border-color: white;
						color: white;
					}
				}
				&:after {
					content: '+';
					border: 2px solid #007bff;
					border-radius: 50%;
					font-family: $comfortaa;
					line-height: 16px;
					font-size: 26px;
					width: 25px;
					height: 25px;
					display: flex;
					justify-content: center;
					align-content: center;
					padding: 4px 0 0;
					font-weight: 400;
					color: #007bff;
				}
			}
			.withdraw {
				border: 2px solid $eth-two;
				background: $eth-two;
				border-radius: 25px;
				height: 36px;
				display: flex;
				font-family: $comfortaa;
				font-weight: 700;
				color: #fff;
				justify-content: space-between;
				align-items: center;
				box-sizing: border-box;
				padding: 0 3px 0 10px;
				font-size: 14px;
				&:hover {
					text-decoration: none;
					border: 2px solid white;
					box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
					&:after {
						background-color: $red;
						border-color: white;
						color: white;
					}
				}
				&:after {
					content: '-';
					border: 2px solid $eth;
					border-radius: 50%;
					font-family: $comfortaa;
					line-height: 16px;
					font-size: 26px;
					width: 25px;
					height: 25px;
					display: flex;
					justify-content: center;
					align-content: center;
					padding: 1px 0 0;
					font-weight: 400;
					color: $eth;
					background: $eth-two;
				}
			}
			.btn-group.lang {
				height: 100%;
				width: 100%;
				@media (max-width: 768px) {
					height: 55px;
				}
				&.open {
					button {
						&.lang {
							box-shadow: 0 0 0;
							&:focus {
								box-shadow: 0 0 0;
							}
						}
					}
				}
				button {
					&.lang {
						height: 76px;
						background: transparent;
						color: white;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						font-family: $comfortaa;
						border-left: 1px solid $eth-two;
						border-right: 1px solid $eth-two;
						border-radius: 0;
						&:focus, &:active, &:hover {
							box-shadow: 0 0 0;
							background: white;
							opacity: 1;
							color: $eth;
							cursor: pointer;
							@media (max-width: 768px) {
								background: $eth;
								color: white;
							}
						}
						@media (max-width: 768px) {
							border: 0;
							padding: 0;
							height: 50px;
							margin-top: 5px;
							justify-content: end;
							span {
								display: none;
							}
						}
						&:hover {
							svg {
								@media (max-width: 768px) {
									color: white;
								}
							}
						}
						svg {
							margin-right: 3px;
							width: 21px;
							color: $eth-two;
							@media (max-width: 768px) {
								height: 34px;
								width: 40px;
								margin: 0;
							}
						}
						&:after {
							content: " ▼";
							font-size: 8px;
							margin-left: 1px;
							color: $eth-two;
							@media (max-width: 768px) {
								display: none;
							}
						}
					}
				}
				.dropdown-menu-right {
					min-width: 150px;
					padding: 0;
					text-align: center;
					width: 100%;
					border-radius: 0;
					box-shadow: 0 0 0;
					border: 0;
					background-color: $eth;
					margin: 0;
					.dropdown-item {
						color: #fff;
						font-size: 16px;
						font-weight: 700;
						display: flex;
						justify-content: center;
						align-items: center;
						line-height: 16px;
						padding: 20px 0;
						border-bottom: 2px solid $eth-two;
						&:first-child {
							border-top: 2px solid $eth-two;
							&:hover {
								border-radius: 0;
							}
						}
						&:hover {
							background-color: #fff;
							border-radius: 0;
							color: $eth;
							cursor: pointer;
						}
						&:last-child {
							border-top: 0 solid $eth-two;
							&:hover {
								border-radius: 0;
							}
						}
						span {
							display: inline-block;
							margin-right: 5px;
							font-size: 20px;
							line-height: 16px;
						}
					}
				}
			}
		}
	}
	.breadcrumbs {
		background: white;
		height: 45px;
		display: flex;
		align-items: center;
		margin-bottom: 25px;
		font-family: $comfortaa;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			li {
				list-style: none;
				margin-right: 5px;
				a {
					&:hover {
						text-decoration: none;
					}
				}
				&:after {
					content: ' > ';
					color: #b0b0b0;
					font-family: $comfortaa;
				}
				&:last-child {
					&:after {
						content: ' ';
					}
					a {
						color: #b0b0b0;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.node {
		&.index {
			ul {
				padding: 0;
				li {
					list-style: none;
					color: white;
					background-image: url("/images/myplants-bg.jpg");
					background-repeat: no-repeat;
					background-size: cover;
					padding: 53px 70px;
					margin-bottom: 25px;
					height: 310px;
					@extend %shadow-else;
					@each $currency, $color in (USD : $usd, ETH : $eth, ETC : $etc, DOGE : $doge, BTC : $btc, LTC : $ltc) {
						&[data-currency="#{$currency}"] {
							&:after {
								content: '';
								background-color: #{$color};
							}
						}
					}
					@media (max-width: 768px) {
						padding: 30px 15px 40px;
						height: auto;
					}
					span {
						&.up-header {
							color: $eth-plan;
							@media (max-width: 768px) {
								text-transform: uppercase;
								letter-spacing: 0.5px;
								font-size: 11px;
							}
						}
					}
					p {
						margin: 0;
						line-height: 18px;
					}
					.plans-header {
						display: flex;
						justify-content: space-between;
						@media (max-width: 768px) {
							flex-direction: column;
							text-align: center;
						}
						.left {
							width: 50%;
							@media (max-width: 768px) {
								width: 100%;
							}
							h2 {
								margin: 0;
								color: white;
								font-size: 30px;
								font-weight: 700;
								@media (max-width: 768px) {
									text-transform: uppercase;
									font-size: 50px;
									line-height: 1;
								}
							}
						}
						.right {
							width: 50%;
							text-align: right;
							@media (max-width: 768px) {
								width: 100%;
								text-align: center;
							}
							.plans-info {
								font-size: 13px;
								color: $eth-plan;
								@media (max-width: 768px) {
									text-transform: uppercase;
									letter-spacing: 1px;
									margin: 25px 0 8px;
								}
								span {
									color: white;
									font-size: 15px;
									@media (max-width: 768px) {
										font-size: 18px;
										display: flex;
										text-align: center;
										justify-content: center;
										margin: 0 4px 0 0;
										text-transform: none;
										letter-spacing: 0;
										font-weight: 700;
									}
								}
							}
						}
					}
					.plants-dates {
						margin: 20px 0 24px;
						border-top: 1px solid $eth-plan;
						padding: 20px 0 0;
						display: flex;
						justify-content: space-between;
						& > * {
							display: flex;
							flex-direction: column;
							color: $eth-plan;
							p {
								@media (max-width: 768px) {
									font-size: 11px;
								}
							}
							span {
								color: white;
							}
						}
						.plans-date-open {
							span {
								font-size: 24px;
								@media (max-width: 768px) {
									font-size: 18px;
								}
							}
						}
						.plans-date-close {
							text-align: right;
							span {
								font-size: 24px;
								color: #fff;
								@media (max-width: 768px) {
									font-size: 18px;
								}
							}
						}
					}
					.progres {
						height: 22px;
						width: 100%;
						@media (max-width: 768px) {
							margin-bottom: 5px;
						}
						.progress-bg {
							display: flex;
							align-items: center;
							width: 100%;
							height: 8px;
							background-color: white;
							border-radius: 10px;
							.progress-bar {
								height: 8px;
								background-color: #89c2fe;
								border-radius: 10px 0 0 10px;
							}
							.progress-check {
								height: 28px;
								width: 28px;
								background-color: $eth-two;
								border-radius: 50%;
							}
						}
					}
					.plans-stat {
						display: flex;
						justify-content: space-between;
						height: 27px;
						span {
							font-size: 18px;
							color: white;
							line-height: 1;
							&:first-child, &:last-child {
								font-size: 14px;
								font-weight: 300;
							}
							&.income {
								align-self: flex-end;
								span {
									font-size: 18px;
								}
							}
						}
					}
					
				}
			}
		}
	}
	.settings {
		&.profile, &.password, &.wallet {
			background-color: white;
			padding: 26px 40px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
			@media (max-width: 768px) {
				padding: 26px 20px;
			}
			h2 {
				color: $eth;
				font-size: 18px;
				margin: 0 0 20px;
				text-align: left;
			}
			form {
				padding: 0 30px;
				.fields {
					margin-bottom: 20px;
					.form-group {
						display: flex;
						flex-wrap: wrap;
						& .field-user-avatar_file {
							display: none !important;
						}
						@media (max-width: 768px) {
							flex-direction: column;
						}
						label {
							width: 20%;
							display: flex;
							align-items: center;
							margin: 0;
							padding: 0;
							font-size: 14px;
							color: #9b9b9b;
							font-weight: 400;
							@media (max-width: 768px) {
								width: 100%;
							}
						}
						input {
							width: 80%;
							background-color: #e4e5e7;
							border-radius: 25px;
							border: 0;
							@media (max-width: 768px) {
								width: 100%;
							}
							&:focus {
								border: 2px solid $eth;
							}
						}
						.help-block {
							margin: 0;
						}
					}
					#upload_avatar {
						button {
							padding: 115px 50px 10px;
							background-image: url("/images/user-pic.jpg");
							letter-spacing: 0px;
							border-radius: 10px;
							border: 1px dashed #007bff;
							opacity: 0.8;
							background-repeat: no-repeat;
							background-size: 100px;
							background-color: white;
							background-position: center 10px;
							color: black;
							font-weight: 700;
							&:hover {
								opacity: 1;
							}
						}
						.filename {
							padding: 0 0 0 20%;
							margin-top: 10px;
							font-style: italic;
							color: #9c9c9c;
							font-size: 12px;
						}
						.field-user-avatar_file {
							display: none;
							label {
							}
							input {
								background-color: transparent;
							}
							.help-block {
							}
						}
						a {
						}
					}
				}
				.control {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					@media (max-width: 768px) {
						flex-direction: column;
					}
					button {
						margin-left: 20%;
						background-color: $eth;
						color: #ffffff;
						height: 35px;
						border: 0;
						width: 230px;
						border-radius: 25px;
						@media (max-width: 768px) {
							margin: 0 0 10px;
							width: 100%;
						}
					}
					a {
						color: $eth;
					}
				}
			}
		}
	}
	#main {
		@media (max-width: 991px) {
			.open-menu {
				& > .mobile-menu-bg {
					position: fixed;
					top: 0;
					left: 0;
					overflow: unset;
					z-index: 2;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.6);
				}
				& > .menu-mobile {
					display: flex;
					max-width: 282px;
					position: absolute;
					z-index: 3;
					top: 0;
					left: 0;
					padding: 0;
					width: 80%;
					.menu {
					}
				}
			}
		}
		.menu-mobile {
			@media (max-width: 991px) {
				display: none;
			}
			.menu {
				margin-top: -146px;
				background: white;
				box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
				background-image: url("/images/bg-menu.jpg");
				background-repeat: no-repeat;
				background-size: 282px;
				@media (max-width: 991px) {
					margin-top: 0;
				}
				.logo {
					img {
						max-width: 100%;
						padding: 16px 20px 40px;
					}
				}
				.info {
					display: flex;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					.avatar-container {
						padding: 2px;
						.avatar {
							height: 130px;
							width: 130px;
							background-size: cover;
							border-radius: 100%;
							background-position: center center;
							background-repeat: no-repeat;
							//border: 1px solid $eth;
							box-shadow: 0 0 0 3px white, 0 0 0 5px $eth;
							margin-bottom: 17px;
							background-image: url("/images/user-pic.jpg");
						}
					}
					.name {
						text-align: center;
						color: $eth-txt;
						font-family: $comfortaa;
						font-size: 18px;
						font-weight: 700;
						border-bottom: 1px solid #e0e0e0;
						width: 100%;
						padding-bottom: 13px;
					}
					.status {
						color: $usd;
						font-size: 13px;
						font-family: $comfortaa;
						width: 100%;
						display: inline-flex;
						border-top: 1px solid #fff;
						padding-top: 8px;
						padding-bottom: 8px;
						line-height: 13px;
						justify-content: center;
						align-items: center;
						svg {
							width: 17px;
							margin-right: 3px;
						}
					}
				}
				.icons {
					display: flex;
					justify-content: center;
					background-color: rgba(50, 149, 255, 0.84);
					background-blend-mode: multiply;
					height: 42px;
					align-items: center;
					box-shadow: inset 0px -10px 40px -12px rgba(0, 0, 0, 0.6);
					a {
						color: white;
						&:hover svg {
							color: #DFDFDF;
						}
						&:hover {
							.feather-power {
								color: #9f1f1c;
							}
						}
						svg {
							width: 19px;
							&:first-child {
								margin-right: 5px;
							}
							&:last-child {
								margin-left: 5px;
							}
						}
					}
				}
				.nav {
					li {
						a {
							color: #616161;
							font-size: 13px;
							font-weight: 400;
							line-height: 13px;
							font-family: $comfortaa;
							padding: 15px 10px 15px 21px;
							border-bottom: 1px solid #f0f2f7;
							display: flex;
							align-items: center;
							&:hover {
								background: #eee;
							}
							svg.feather {
								width: 15px;
								position: relative;
								top: -1px;
								margin-right: 6px;
							}
						}
						&:nth-child(1n + 9) {
							a {
								//background: repeating-linear-gradient(45deg, #f0f2f7, #f0f2f7 2px, #fff 0, #fff 3px);
								//background-size: 6px 6px;
								background-color: #f6f8fd;
								border-bottom: 1px solid #d7d7d7;
								color: #686868;
								&:hover {
									//background: repeating-linear-gradient(45deg, #f0f2f7, #f0f2f7 2px, #fff 0, #fff 4px);
									background-color: #eeeeee;
								}
							}
							&.active {
								a {
									background-color: #f0f2f7;
								}
							}
						}
						&:nth-child(8) {
							a {
								border-bottom: 1px solid #d7d7d7;
								display: flex;
								padding-right: 20px;
								&:after {
									content: " ▼";
									font-size: 11px;
									color: #cccccc;
									position: absolute;
									right: 30px;
								}
							}
							&.active {
								a {
									border-bottom: 1px solid #d7d7d7;
									align-items: center;
									display: flex;
									padding-right: 20px;
									&:after {
										content: " ▼";
										font-size: 11px;
										color: #acacac;
										position: absolute;
										right: 30px;
									}
								}
							}
						}
						&.active {
							background-color: #f0f2f7;
						}
					}
				}
			}
		}
	}
	footer {
		background: #222328;
		margin-top: 30px;
		font-family: $comfortaa;
		padding-top: 67px;
		background-image: url("https://ai-logist.com/wp-content/uploads/2018/04/footer.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		.main-footer {
			.footer-logo {
				img {
					max-height: 55px;
					margin-bottom: 25px;
				}
			}
			h5 {
				font-size: 40px;
				color: white;
				margin: 0 0 10px;
				line-height: 1.1;
				@media (max-width: 768px) {
					font-size: 28px;
					line-height: 1.2;
				}
			}
			.footer-h1 {
				h3 {
					color: white;
					font-size: 18px;
					margin-top: 17px;
					margin-bottom: 43px;
					@media (max-width: 768px) {
						margin-top: 30px;
						margin-bottom: 15px;
						border-bottom: 1px solid white;
						display: inline-block;
					}
				}
			}
			.footer-txt {
				color: #fff;
				font-size: 12px;
				line-height: 22px;
				&.h6 {
					font-size: 14px;
				}
			}
			.contacts-footer {
				& > div {
					margin-bottom: 5px;
					img {
						margin-right: 5px;
						margin-bottom: 5px;
					}
					a {
						color: white;
					}
				}
			}
		}
		.footer-copy {
			margin-top: 60px;
			background: #1a1b1f;
			padding-bottom: 30px;
			padding-top: 30px;
			p {
				color: white;
				font-size: 14px;
				line-height: 14px;
				margin: 0;
			}
		}
	}
	&.indoor-error {
		.error {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			.error-404 {
				max-width: 700px;
			}
		}
	}
	.error {
		.col-lg-9 {
			margin-left: auto;
			margin-right: auto;
		}
		.error-404 {
			background-image: url("/images/bg-404.jpg");
			min-height: 545px;
			background-size: cover;
			background-position: left top;
			background-repeat: no-repeat;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			padding: 100px 0 100px 200px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			margin: 0 auto;
			@media (max-width: 768px) {
				padding: 60px 30px;
				min-height: auto;
			}
			h1 {
				font-size: 140px;
				font-weight: 700;
				color: $eth;
				margin: 0;
				width: 330px;
				line-height: 1;
				@media (max-width: 768px) {
					font-size: 72px;
				}
			}
			p {
				font-size: 48px;
				font-weight: 700;
				color: $eth;
				margin: 0;
				display: inline-flex;
				text-transform: lowercase;
				width: 330px;
				line-height: 1.1;
				padding-bottom: 15px;
				@media (max-width: 768px) {
					font-size: 40px;
				}
			}
			a {
				background-color: $eth;
				color: white;
				border-radius: 30px;
				display: inline-block;
				width: 330px;
				padding: 10px 30px;
				text-align: center;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.user {
		&.profile {
			.informer {
				background: white;
				height: 85px;
				margin-bottom: 25px;
				padding: 15px 10px 0 0;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 60px auto;
				@media (max-width: 768px) {
					margin-top: 0;
					margin-bottom: 20px;
				}
				.name {
					display: block;
					font-size: 12px;
					color: #949494;
					border-left: 3px solid #cfcdcd;
					padding-left: 18px;
					line-height: 14px;
					
				}
				.value {
					padding-left: 18px;
					display: block;
					border-left: 3px solid;
					font-size: 24px;
					font-weight: 700;
					@media (max-width: 768px) {
						font-size: 24px;
					}
					&[data-currency="USD"] {
						color: $usd;
						border-color: $usd;
					}
					&[data-currency="BTC"] {
						color: $btc;
						border-color: $btc;
					}
					&[data-currency="ETH"] {
						color: $eth;
						border-color: $eth;
					}
					&[data-currency="ETC"] {
						color: $etc;
						border-color: $etc;
					}
					&[data-currency="XRP"] {
						color: $xrp;
						border-color: $xrp;
					}
					&[data-currency="LTC"] {
						color: $ltc;
						border-color: $ltc;
					}
					&[data-currency="DOGE"] {
						color: $doge;
						border-color: $doge;
					}
				}
				&.no-margin-bottom {
					margin-bottom: 0;
					@media (max-width: 768px) {
						margin-bottom: 20px;
					}
				}
			}
			.invested {
				.informer {
					background-image: url("/images/invested.png");
				}
			}
			.income {
				.informer {
					background-image: url("/images/income.png");
				}
			}
			.withdraw {
				.informer {
					background-image: url("/images/withdraw.png");
				}
			}
			.referral {
				.informer {
					background-image: url("/images/partnership.png");
				}
			}
			.turnover {
				.informer {
					height: 195px;
					padding-right: 0;
					background-image: url("/images/turnover.png");
					
					.description {
						display: block;
						font-size: 10px;
						color: #949494;
						border-left: 3px solid #cfcdcd;
						padding-left: 18px;
						line-height: 12px;
					}
					.money {
						padding-left: 18px;
						font-size: 29px;
						font-weight: 700;
						display: none;
						line-height: 34px;
						padding-top: 6px;
						border-left: 3px solid;
						&[data-currency="USD"], &.usd {
							color: $usd;
							border-color: $usd;
							display: block;
						}
					}
					.line-grey {
						background: #dedede;
						height: 1px;
						width: 100%;
						margin: 28px 0 9px;
					}
					.padding-progress {
						padding: 0 20px;
						margin-top: 13px;
						.progres {
							height: 19px;
							width: 100%;
							margin-top: 10px;
							.progress-bg {
								display: flex;
								align-items: center;
								width: 100%;
								height: 8px;
								background-color: $usd;
								border-radius: 10px;
								.progress-bar {
									height: 8px;
									background-color: $eth;
									border-radius: 10px 0 0 10px;
								}
								.progress-check {
									height: 19px;
									width: 19px;
									background-color: white;
									border-radius: 50%;
									box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
									left: -4px;
								}
							}
						}
					}
					.stats-rung {
						display: flex;
						justify-content: space-between;
						padding: 0 20px;
						
						& > div p {
							margin: 0;
							font-size: 10px;
							color: #898989;
						}
						.your-rung {
							display: flex;
							align-items: center;
							&:before {
								content: "\2714";
								color: $eth;
							}
						}
						.next-rung {
							display: flex;
							align-items: center;
							&:before {
								background-image: url("/images/right-arrow.png");
								height: 11px;
								width: 14px;
								color: $usd;
								font-size: 12px;
								background-repeat: no-repeat;
								background-size: cover;
								content: ' ';
								position: relative;
								left: -2px;
							}
						}
					}
				}
			}
			.referral-link {
				margin-bottom: 35px;
				h2 {
					@media (max-width: 768px) {
						margin-top: 0;
					}
				}
				@media (max-width: 768px) {
					margin-top: 0;
					margin-bottom: 20px;
				}
				input {
					width: 100%;
					border: 0;
					height: 46px;
					padding: 0 20px;
				}
				.statistics {
					display: flex;
					color: #fff;
					.follow {
						width: 100%;
						background-color: $eth;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 12px;
						.value {
						}
						.name {
						}
					}
					.registration {
						width: 100%;
						background-color: $btc;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 12px;
						.value {
						}
						.name {
						}
					}
					.node {
						width: 100%;
						background-color: $usd;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 12px;
						.value {
						}
						.name {
						}
					}
				}
			}
			.invest-button {
				margin-top: 50px;
				@media (max-width: 768px) {
					margin-top: 0;
					margin-bottom: 20px;
				}
				a {
					background: $eth;
					color: #ffffff;
					height: 76px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 38px;
					text-transform: uppercase;
					font-size: 18px;
					text-decoration: none;
				}
			}
			#nodes {
				margin-left: 25%;
				width: 75%;
				.col-lg-9, .col-md-9 {
					width: 100%;
				}
				@media (max-width: 991px) {
					margin-left: 0;
				}
				.node {
					margin-top: 25px;
				}
			}
		}
		#chart {
			background-color: white;
			padding: 20px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			.chart-header {
				display: flex;
				justify-content: space-between;
				padding-left: 50px;
				padding-right: 50px;
				width: 100%;
				@media (max-width: 768px) {
					padding: 0;
					flex-direction: column;
				}
				h3 {
					margin: 0;
					color: #555555;
					font-size: 18px;
					font-family: $comfortaa;
					font-weight: 700;
				}
				.control {
					width: 380px;
					display: flex;
					justify-content: space-between;
					@media (max-width: 768px) {
						flex-direction: column;
						width: auto;
					}
					.currency, .choose-mount {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.name {
							margin: 0;
							font-size: 11px;
							color: #8f8f90;
						}
						.widget {
							&.dropdown {
								.value {
									color: $usd;
									font-size: 14px;
									font-weight: 700;
									padding-left: 10px;
									&:after {
										content: " ▼";
										font-size: 6px;
										position: relative;
										top: -2px;
										left: -1px;
									}
									&.mounth {
										color: $eth;
										text-transform: capitalize;
									}
								}
								&.open {
									.dropdown-menu {
										display: flex;
										flex-direction: column;
										padding: 10px;
										border: 1px solid rgba(0, 0, 0, 0.2);
										border-radius: 0;
										box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
										background: white;
										min-width: 10px;
										text-align: center;
										a.dropdown-item {
											color: #8f8f90;
											font-size: 13px;
											&.current {
												color: $eth;
											}
											&:hover {
												color: $eth;
												text-decoration: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.line-box {
				display: flex;
				padding: 0 50px;
				margin: 15px 0 13px;
				@media (max-width: 768px) {
					padding: 0;
				}
				.line-grey {
					height: 1px;
					width: 100%;
					background-color: #e2e2e2;
				}
			}
			.summary {
				display: flex;
				justify-content: end;
				padding: 0 50px;
				@media (max-width: 768px) {
					flex-direction: column;
					width: auto;
					justify-content: flex-start;
					padding: 0;
				}
				.income::before {
					background-color: #7fce59;
				}
				.expense::before {
					background-color: #d24f4c;
				}
				.income, .expense {
					display: flex;
					margin-left: 20px;
					align-items: center;
					&::before {
						border-radius: 4px;
						margin-right: 9px;
						width: 17px;
						height: 17px;
						content: ' ';
					}
					.name {
						margin: 0;
						font-size: 11px;
						color: #8f8f90;
					}
					.value.money {
						color: $usd;
						font-size: 14px;
						font-weight: 700;
						padding-left: 10px;
						display: inline-flex;
						align-items: center;
						&:after {
							padding-left: 4px;
						}
						&[data-currency='USD'] {
							color: $usd;
						}
					}
				}
				
			}
			svg {
				.area {
					& > .curve {
						stroke: #5c6bc0;
						stroke-dasharray: 15px 3px;
						@include keyframe(beline) {
							from {
								stroke-dasharray: 15px 3px;
								stroke-dashoffset: 0px;
							}
							to {
								stroke-dasharray: 15px 5px;
								stroke-dashoffset: 2000px;
							}
						}
						@include animation(0s, 20s, infinite, alternate-reverse, ease-out, beline);
					}
				}
				.tick {
					line {
						stroke: #efeeee;
					}
					text {
						fill: #868686;
					}
				}
				.domain {
					stroke: #efeeee;
				}
			}
			.gird .tick line {
				stroke: rgba(0, 0, 0, 0);
			}
			g {
				fill: none;
				&.nodes > g.active {
					text {
						text-anchor: start;
						transform: translate(0, -23px);
						fill: white;
						&.amount {
							opacity: 0.7;
						}
					}
					path {
						fill: #5c6bc0;
					}
				}
			}
			
			circle {
				r: 4;
				fill: $chart_violet;
			}
			[data-currency] {
				cursor: pointer;
			}
			.move {
				position: absolute;
				width: 20px;
				line-height: 20px;
				border: 2px solid $black;
				text-align: center;
				border-radius: 50%;
				top: 250px;
				cursor: pointer;
				background-color: $white;
				&.left {
					left: 12px;
				}
				&.right {
					left: 830px;
				}
			}
			path.border {
				stroke: none;
			}
			td[data-currency] > .rect {
				display: inline-block;
				width: 10px;
				height: 10px;
			}
			svg path.curve {
				stroke-width: 2;
			}
		}
	}
	
	.program {
		&.index {
			.investing-plan {
				background-color: white;
				border-radius: 20px;
				margin-bottom: 25px;
				display: flex;
				flex-direction: column;
				min-height: 540px;
				@extend %shadow-light;
				.header-background {
					background-repeat: no-repeat;
					border-radius: 20px 20px 0 0;
					padding: 0 25px 0;
					min-height: 160px;
					background-size: cover;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 35px;
					h2 {
						color: #fff;
						font-size: 30px;
						text-align: center;
						font-weight: 700;
						margin: 0;
						display: block;
						border: 3px solid;
						border-radius: 20px;
						padding: 18px 50px 16px;
					}
				}
				.body-form {
					padding: 0 35px;
					@media (max-width: 768px) {
						padding: 0 15px;
					}
				}
				ul {
					padding: 0;
					margin-bottom: 0;
					li {
						list-style: none;
						text-align: center;
						width: 100%;
						flex-direction: column;
						margin-bottom: 25px;
						line-height: 1;
						p.label {
							margin: 0;
							padding: 0;
							line-height: 1.3;
							font-size: 14px;
							display: inline-block;
							font-weight: 300;
							width: 100%;
							color: $eth-two;
							font-family: $ptsans;
							@media (min-width: 991px) and (max-width: 1200px) {
								font-size: 14px;
							}
						}
						span {
							&:first-child {
								font-size: 14px;
								padding: 0;
								color: #747474;
							}
							&:last-child {
								font-size: 24px;
								font-weight: 700;
								color: $eth-two;
							}
						}
					}
				}
				a {
					&.buy, & + form .control button {
						color: #3295ff;
						border-radius: 50px;
						font-size: 18px;
						text-transform: uppercase;
						text-decoration: none;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						height: 60px;
						line-height: 14px;
						margin: 0 auto 25px auto;
						border: 2px solid;
						letter-spacing: 0.5px;
						padding: 0 50px;
						width: 100%;
						
						transition-duration: 0.3s;
						transition-timing-function: ease-in;
						background: linear-gradient(#fff 60px, #3295ff 60px);
						background-position: 0 0;
						background-size: 120px 120px;
						&:hover {
							background-position: 0 60px;
							transition-duration: 0.3s;
							transition-timing-function: ease-in;
							color: #fff;
						}
					}
				}
				form {
					display: none;
				}
			}
			.active {
				a.buy, .duration, .rate, ul li:last-child {
					display: none;
				}
				.investing-plan {
					form {
						display: flex;
						margin: 0;
						border: 0;
						padding: 15px 30px 0;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.form-label {
							margin: 0 0 5px;
							font-size: 12px;
							color: #979797;
						}
						.select-currency {
							width: 100%;
							display: flex;
							justify-content: center;
							.btn {
								margin: 0 auto 6px;
								background: white;
								font-weight: 700;
								color: #4d4d4d;
								display: inline-flex;
								position: relative;
								float: none;
								height: 40px;
								border-radius: 50px;
								border: 2px solid #a3a3a3;
								font-size: 18px;
								text-transform: uppercase;
								text-decoration: none;
								line-height: 14px;
								letter-spacing: 0.5px;
								padding: 0 50px;
								width: 100%;
								justify-content: center;
								&.dropdown-toggle {
									box-shadow: none;
								}
							}
							&.open {
								.btn {
									color: #000;
								}
							}
							.dropdown-menu {
								padding: 10px;
								color: #434343;
								font-weight: 700;
								text-align: center;
								width: 80%;
								margin: 3px 10%;
								.dropdown-item {
									cursor: pointer;
								}
							}
							ul {
								flex-direction: row;
								justify-content: space-around;
								display: flex;
								margin: 50px 0 40px;
								li {
									width: 40%;
								}
							}
						}
						.fields {
							margin: 0 auto;
							width: 100%;
							.form-group {
								margin: 0;
								&.field-program-amount {
									.control-label {
										display: none;
									}
									.form-control {
										border-radius: 30px;
										margin: 0 auto 6px;
										box-shadow: none;
										text-align: center;
										border: 2px solid #a3a3a3;
										height: 40px;
									}
								}
								.form-control {
									height: 55px;
									font-size: 20px;
								}
								.help-block {
									color: black;
									margin: 0;
									padding: 0 3px;
									font-size: 12px;
									text-align: center;
								}
							}
						}
						.control {
							width: 100%;
							button {
								background: #7fce59;
								color: white;
								border: 0;
								margin-top: 10px;
							}
						}
					}
				}
			}
			.has-error .help-block {
				margin: 5px 0;
			}
			#program-1 {
				.header-background {
					background-image: url("/images/plan-01.png");
				}
			}
			#program-2 {
				.header-background {
					background-image: url("/images/plan-02.png");
				}
			}
			
			#program-3 {
				&.col-lg-6 {
					width: 100%;
					.investing-plan {
						background-image: url("/images/vip.png");
						background-repeat: no-repeat;
						min-height: 399px;
						flex-direction: row;
						@media (max-width: 1200px) {
							background-position: -80px 0;
						}
						@media (max-width: 768px) {
							background-image: none;
							flex-direction: column;
							background-position: 0 0;
						}
						.header-background {
							background-image: none;
							width: 100%;
							margin: 0;
							padding: 0 8% 0;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							@media (max-width: 768px) {
								background-image: url("/images/vip.png");
								justify-content: center;
							}
							h2 {
								font-size: 36px;
							}
						}
						.body-form {
							width: 475px;
							box-sizing: border-box;
							min-width: 400px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							padding: 0 60px;
							@media (max-width: 768px) {
								min-width: auto;
								width: auto;
								padding: 25px 15px;
							}
							a.buy {
								margin: 0;
							}
							ul {
								li {
									margin-bottom: 20px;
								}
							}
						}
					}
				}
				&.active {
					.body-form {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						ul {
							li {
								margin-bottom: 15px;
							}
						}
						form {
							padding: 0;
						}
						.control {
							button {
								margin-bottom: 0;
							}
						}
					}
				}
				
			}
			
			&.active {
			
			}
		}
	}
	
	.payment {
		&.transfer {
			&.invoice {
				.left {
					form {
						.systems {
							display: flex;
							margin-bottom: 10px;
							@media (max-width: 768px) {
								flex-wrap: wrap;
								margin-bottom: 20px;
							}
							button {
								background-color: white;
								border: 0;
								font-size: 12px;
								margin: 0 10px 0 0;
								height: 35px;
								display: flex;
								align-items: center;
								justify-content: center;
								padding: 0 30px;
								border-radius: 25px;
								box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
								@media (max-width: 768px) {
									margin: 0 20px 10px 0;
								}
								&.active {
									background-color: $eth;
									color: white;
									&:hover {
										color: #50cbff !important;
									}
								}
								&:hover {
									color: $eth;
								}
							}
						}
						.form {
							padding: 30px 70px 0;
							background-image: url("/images/payment-bg.png");
							background-size: cover;
							background-repeat: no-repeat;
							height: 270px;
							@media (max-width: 768px) {
								background-image: url("/images/plus-pay.png");
								background-color: white;
								background-size: 80px;
								background-position: right top;
								height: auto;
								padding: 30px;
								margin-bottom: 20px;
							}
							h3 {
								font-size: 18px;
								color: $eth;
								margin: 0 0 22px;
							}
							.fields {
								.form-group {
									margin-bottom: 0;
									label {
										font-family: $ptsans;
										font-size: 14px;
										color: #9b9b9b;
										font-weight: 400;
										padding-left: 18px;
									}
									input {
										background: #e4e5e7;
										max-width: 229px;
										border-radius: 25px;
										border: 2px solid #e4e5e7;
										box-shadow: 0 0 0;
										padding-left: 18px;
										&#block-wallet {
											//cursor: not-allowed;
											//color: grey;
											//border-color: #afafaf;
											//pointer-events: none;
										}
										&:focus {
											border: 2px solid $eth;
										}
										
									}
									.help-block {
										margin: 0;
										color: $red;
										font-size: 11px;
										padding: 5px 18px;
									}
									&.has-error {
										input {
											border: 2px solid $red;
											box-shadow: 0 0 0;
											&:focus {
												border-color: $eth;
												box-shadow: 0 0 0;
											}
										}
									}
									&.has-success {
										input {
											border: 2px solid $usd;
											box-shadow: 0 0 0;
											&:focus {
												border-color: $eth;
												box-shadow: 0 0 0;
											}
										}
									}
								}
							}
							.control {
								i {
									color: $eth;
									font-size: 14px;
									text-decoration: underline;
								}
								button {
									background: $eth;
									color: white;
									font-size: 14px;
									font-weight: 700;
									border: 0;
									height: 35px;
									max-width: 229px;
									border-radius: 25px;
									width: 229px;
									&:hover {
										cursor: pointer;
									}
								}
							}
						}
					}
				}
			}
			.right {
				&.crypto {
					display: flex;
					flex-direction: column;
					& > div {
						display: flex;
						flex-direction: column;
						margin-bottom: 10px;
						img {
							margin-right: 5px;
							max-width: 32px;
							min-width: 30px;
						}
						.get-wallet-block {
							display: flex;
							justify-content: space-between;
							align-items: center;
							img {
							}
							span {
								font-weight: 700;
								text-transform: uppercase;
								width: 100%;
								display: inline-block;
								margin-right: 10px;
							}
							.get-wallet {
								background-color: white;
								box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
								height: 55px;
								display: inline-block;
								text-align: center;
								cursor: pointer;
								border-radius: 30px;
								padding: 18px 30px 0;
								color: #969696;
								min-width: 230px;
								&:hover {
									background-color: $eth;
									color: white;
								}
								@media (max-width: 768px) {
									padding: 18px 30px 0;
									min-width: 195px;
									max-width: 220px;
									font-size: 12px;
									height: 51px;
								}
							}
						}
						.wallet-block {
							.up {
								display: flex;
								align-items: center;
								margin-bottom: 7px;
								justify-content: start;
								text-transform: uppercase;
								font-weight: 700;
							}
							.down {
								.wallet {
									font-size: 11px;
									text-align: left;
									border-bottom: 1px solid #007bff;
									padding: 0 0 7px;
									color: #6d6d6d;
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
	.page-promo {
		&.promotion {
			h2.page-title {
				margin-bottom: 22px;
			}
			
			.promo {
				.promo-item {
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
					padding: 15px 15px 30px;
					background: white;
					text-align: left;
					img {
						width: 100%;
						max-width: 100%;
						height: auto;
					}
					h5 {
						font-size: 18px;
						font-weight: 700;
						margin: 25px 0 10px;
						padding: 15px 0 0;
						text-transform: uppercase;
						color: #307bff;
						letter-spacing: 1px;
						
					}
					.line-header {
						width: 70px;
						margin: 10px 0;
						height: 2px;
						background-color: #dcdcdc;
					}
					p {
						color: #4c4c4c;
						font-size: 14px;
						margin-bottom: 5px;
					}
					a {
						background: white;
						color: $eth;
						padding: 14px 30px 13px;
						border-radius: 30px;
						border: 1px solid $eth;
						text-transform: uppercase;
						letter-spacing: 0.5px;
						margin: 5px auto 0;
						display: inline-block;
						transition: all 0.15s;
						text-align: center;
						width: auto;
						@media (max-width: 1200px) {
							padding: 12px 20px 10px;
							font-size: 11px;
						}
						&:hover {
							background: $eth;
							color: white;
							transition: all 0.15s;
							text-decoration: none;
						}
					}
					&.promo-item-1 {
						img {
							z-index: 2;
							position: relative;
						}
						.shadow-img {
							width: 80%;
							height: 310px;
							position: absolute;
							right: 0;
							background: $ethl;
							display: flex;
							align-items: center;
							justify-content: center;
							top: 65px;
							z-index: 1;
							@media (max-width: 1200px) {
								display: none;
							}
							.img-bg-fillter {
								width: 100%;
								height: 100%;
								background: filter(url('/images/pr/en/promo/250x250.jpg'), blur(5px));
								background-size: 100%;
								background-repeat: no-repeat;
								opacity: 0.2;
							}
						}
					}
				}
			}
		}
		&.banners {
			.img-responsive {
				margin-bottom: 15px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
			}
			.page-title {
			}
			.banner-menu {
				display: flex;
				margin-bottom: 25px;
				flex-direction: column;
				p {
					margin: 0 10px 10px 0;
					height: 100%;
					font-size: 14px;
					font-weight: 700;
				}
				.banner-menu-item {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					a {
						background: white;
						padding: 27px 10px 24px;
						border-radius: 0px;
						box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
						margin: 0 0px 0px 0;
						font-size: 14px;
						width: 14.28%;
						border: 1px solid #dcdcdc;
						text-align: center;
						color: $eth;
						&:hover {
							background-color: $gray_background;
							box-shadow: none;
							text-decoration: none;
							cursor: pointer;
							color: black;
							border: 0;
							position: relative;
							top: 5px;
						}
					}
				}
			}
			ul {
				margin: 0;
				//min-width: 120px + 160px + 200px + 240px + 250px + 300px + 300px + 320px + 320px + 336px + 468px + 728px + 970px + 970px + (14 * 90px);
				//min-width: 240px + 240px + 240px + 240px + 250px + 300px + 300px + 320px + 320px + 336px + 468px + 728px + 970px + 970px + (14 * 90px);
				li {
					list-style: none;
					padding: 0;
					&.banner {
						padding: 30px;
						background: white;
						margin-right: 25px;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						align-items: center;
						min-height: 742px;
						box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
						.image {
							display: flex;
							align-items: center;
							height: 100%;
							img {
								max-width: 100%;
							}
						}
						.name {
							width: 100%;
							text-align: center;
							text-decoration: underline;
							margin-top: 10px;
							border-top: 1px solid #dcdcdc;
							border-bottom: 1px solid #dcdcdc;
							margin-bottom: 10px;
							a {
								width: 100%;
								color: $eth;
								font-size: 14px;
								padding: 10px 0;
								display: inline-block;
							}
						}
						textarea {
							min-width: 250px;
							font-size: 10px;
							border: 0;
							background: #ececec;
							min-height: 90px;
							padding: 10px;
							overflow: hidden;
							width: 100%;
							resize: none;
						}
					}
				}
			}
		}
		
	}
	.withdraw {
		form {
			.systems {
				display: flex;
				margin-bottom: 25px;
				justify-content: flex-start;
				@media (max-width: 768px) {
					flex-wrap: wrap;
					margin-bottom: 20px;
					justify-content: flex-start;
				}
				button {
					background-color: white;
					border: 0;
					font-size: 12px;
					margin: 0 10px 0 0;
					height: 35px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 15px;
					border-radius: 25px;
					box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
					&#payeer {
						display: none;
					}
					@media (max-width: 768px) {
						margin: 0 20px 10px 0;
					}
					&:hover {
						color: $eth;
					}
					&#currency-usd {
						display: none;
					}
				}
				.active {
					background-color: $eth;
					color: white;
					&:hover {
						color: #50cbff;
					}
				}
			}
			.form {
				padding: 30px 70px 30px;
				background-color: white;
				background-size: cover;
				background-repeat: no-repeat;
				min-height: 270px;
				@media (max-width: 768px) {
					background-image: url("/images/plus-withdraw.png");
					background-color: white;
					background-size: 80px;
					background-position: right top;
					height: auto;
					padding: 30px;
					margin-bottom: 20px;
				}
				h3 {
					font-size: 18px;
					color: $eth;
					margin: 0 0 22px;
				}
				.fields {
					margin-bottom: 22px;
					.form-group {
						margin-bottom: 8px;
						label {
							font-family: $ptsans;
							font-size: 14px;
							color: #9b9b9b;
							font-weight: 400;
							padding-left: 18px;
						}
						input {
							background: #e4e5e7;
							border: 2px solid #e4e5e7;
							border-radius: 25px;
							box-shadow: 0 0 0;
							padding-left: 18px;
							&:focus {
								border: 2px solid $eth;
							}
						}
						.help-block {
							margin: 0;
							color: $red;
							font-size: 11px;
							padding: 5px 18px;
						}
						&.has-error {
							input {
								border: 2px solid $red;
								box-shadow: 0 0 0;
								&:focus {
									border-color: $eth;
									box-shadow: 0 0 0;
								}
							}
						}
						&.has-success {
							input {
								border: 2px solid $usd;
								box-shadow: 0 0 0;
								&:focus {
									border-color: $eth;
									box-shadow: 0 0 0;
								}
							}
						}
					}
				}
				.control {
					i {
						color: $eth;
						font-size: 14px;
						text-decoration: underline;
					}
					button {
						background: $eth;
						color: white;
						font-size: 14px;
						font-weight: 700;
						border: 0;
						height: 35px;
						max-width: 229px;
						border-radius: 25px;
						width: 229px;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	
	.lottery {
		&.participate {
			.lotoheader {
				display: flex;
				.infoheader {
					min-width: 468px;
					width: 60%;
					background-color: #007bff;
					padding: 15px;
					margin: 0 0 16px;
					color: white;
					h1 {
						font-size: 18px;
						margin: 10px 0px 15px;
						border-bottom: 1px solid white;
						padding-bottom: 9px;
					}
					p {
						font-size: 14px;
					}
					a {
						color: #ffffff;
					}
				}
			}
			.koeficient {
				background-color: #fff;
				width: 40%;
				margin: 0 0 16px;
				padding: 15px;
				h3 {
					font-size: 16px;
				}
				.percent {
					font-size: 24px;
					color: $usd;
					font-weight: 700;
					&::before {
						content: "▲";
						
					}
				}
			}
			.panel-loto {
				display: flex;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21);
				@media (max-width: 768px) {
					flex-direction: column;
				}
				.left {
					width: 60%;
					padding: 50px 0 0;
					background-image: url("/images/loto-bg.jpg");
					background-color: $eth;
					background-repeat: no-repeat;
					min-height: 468px;
					background-size: cover;
					@media (max-width: 768px) {
						width: 100%;
						min-height: 300px;
					}
					* {
						color: white;
					}
					h1 {
						font-size: 48px;
						font-weight: 700;
						text-align: center;
						margin: 0 0 20px;
						@media (max-width: 768px) {
							margin-bottom: 0;
						}
					}
					.fund {
						font-size: 18px;
						text-align: center;
						margin-bottom: 40px;
						@media (max-width: 768px) {
							margin-bottom: 20px;
						}
						svg {
							width: 24px;
							position: relative;
							top: 4px;
						}
					}
					.places {
						display: flex;
						justify-content: space-between;
						border-top: 1px solid #a1cefe;
						border-bottom: 1px solid #a1cefe;
						margin-bottom: 46px;
						@media (max-width: 768px) {
							margin-bottom: 20px;
						}
						& > div {
							height: 120px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							border-right: 1px solid #a1cefe;
							min-width: 33.3%;
							@media (max-width: 768px) {
								height: 100px;
							}
							.sponsor {
								text-align: center;
								padding: 6px 10px 0;
								line-height: 1.1;
								font-size: 13px;
								font-weight: 700;
							}
							.usd {
								font-size: 24px;
								font-weight: 700;
								@media (max-width: 768px) {
									font-size: 20px;
								}
							}
							.number {
								color: #beddff;
								font-size: 14px;
								font-weight: 700;
							}
							&:last-child {
								border-right: 0 solid white;
							}
						}
					}
					.loto-btn-begin {
						background: #7fce59;
						width: 85%;
						margin: 0 auto 10px;
						border-radius: 25px;
						height: 44px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 18px;
						@media (max-width: 768px) {
							font-size: 13px;
							margin-bottom: 20px;
						}
						.begin {
							margin-right: 5px;
							svg {
								width: 22px;
								position: relative;
								top: 4px;
							}
						}
						.date {
						}
					}
					.congrulation {
						display: flex;
						justify-content: center;
						a {
							font-family: $ptsans;
							font-style: italic;
							color: #a1cefe;
							text-decoration: underline;
						}
					}
				}
				.right {
					padding: 30px 0 10px;
					width: 40%;
					background: white;
					height: 468px;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					margin: 0 auto;
					@media (max-width: 768px) {
						width: 100%;
					}
					h2 {
						font-size: 18px;
						color: $eth;
						margin: 0 0 10px;
					}
					form {
						display: flex;
						justify-content: center;
						flex-direction: column;
						width: 100%;
						.fields {
							display: flex;
							justify-content: center;
							flex-direction: column;
							width: 100%;
							.help-block {
								max-width: 230px;
								margin: 0;
							}
							.form-group {
								width: 230px;
								margin: 0 auto;
							}
							.field-lotteryform-amount, .field-lotteryform-quantity {
								label {
									text-align: center;
									width: 230px;
									font-size: 13px;
									color: #9b9b9b;
									margin-bottom: 2px;
								}
								input {
									border-radius: 18px;
									border: 0;
									color: #555555;
									box-shadow: 0 0 0;
									text-align: center;
									font-size: 14px;
									font-weight: 700;
									padding: 1px 20px 0 20px;
									box-sizing: border-box;
									width: 230px;
									background-color: #e4e5e7;
									transition: 0.2s all;
									margin: 0 0 7px;
									&:focus {
										border: 2px solid #007bff;
										transition: 0.3s all;
									}
								}
								p {
								}
							}
							.field-lotteryform-currency {
								margin-top: 0px;
								& > label {
									text-align: center;
									width: 100%;
									color: #9b9b9b;
									font-size: 13px;
									margin-bottom: 1px;
								}
								#lotteryform-currency {
									display: flex;
									flex-direction: row;
									flex-wrap: wrap;
									max-width: 230px;
									justify-content: space-between;
									padding: 5px 35px;
									.radio {
										margin: 0 5px 0 0;
										width: 70px;
									}
								}
							}
						}
						.line-grey {
							background: #dedede;
							height: 1px;
							width: 100%;
							margin: 19px 0 25px;
						}
						p {
							&.txt-small {
								font-size: 12px;
								line-height: 13px;
								color: #9b9b9b;
								font-family: $ptsans;
								text-align: center;
								margin-bottom: 2px;
							}
							&.txt-head {
								text-align: center;
								font-family: $ptsans;
								font-size: 18px;
								color: #555;
								line-height: 22px;
							}
						}
						button {
							width: 230px;
							margin: 0 auto 10px;
							display: flex;
							justify-content: center;
							align-items: center;
							background-color: $eth;
							color: white;
							font-size: 14px;
							font-weight: 700;
							height: 35px;
							border: 0;
							border-radius: 25px;
							padding-top: 2px;
						}
						.eth-txt-small {
							color: $eth;
							text-decoration: underline;
							font-family: $ptsans;
							text-align: center;
							font-size: 13px;
						}
					}
				}
			}
		}
		.participant-block {
			width: 100%;
			h2 {
				@media (max-width: 768px) {
					text-align: center;
				}
			}
			#winners {
				display: flex;
				justify-content: space-between;
				width: 100%;
				@media (max-width: 768px) {
					flex-direction: column;
				}
				.winner {
					display: flex;
					width: 50%;
					margin-right: 15px;
					margin-left: 15px;
					flex-direction: column;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21);
					@media (max-width: 768px) {
						flex-direction: column;
						width: 100%;
						margin: 0 0 15px;
					}
					h5 {
						margin: 0;
						background-color: #007BFF;
						padding: 11px 0 7px;
						text-align: center;
						border-bottom: 1px solid #dcdcdc;
						text-transform: uppercase;
						font-weight: 700;
						color: white;
						@media (max-width: 768px) {
							text-align: center;
						}
					}
					&:last-child {
						margin-right: 0;
					}
					&:first-child {
						margin-left: 0;
					}
					.winner-cart {
						background: white;
						padding: 12px 5px;
						display: flex;
						flex-direction: row;
						.winner-avatar {
							height: 50px;
							width: 50px;
							background-size: cover;
							border-radius: 100%;
							background-position: center center;
							background-repeat: no-repeat;
							box-shadow: 0 0 0 3px white, 0 0 0 5px $eth;
							background-image: url("/images/user-pic.jpg");
							margin: 0 10px 0 10px;
						}
						.winner-info {
							display: flex;
							flex-direction: column;
							text-transform: uppercase;
							justify-content: center;
							span {
								&:first-child {
									text-transform: uppercase;
									font-weight: 700;
								}
								&:last-child {
									font-size: 16px;
									font-family: $ptsans;
									font-weight: 700;
								}
							}
						}
					}
					.winner-sponsor-cart {
						background: white;
						padding: 12px 5px 13px;
						display: flex;
						border-top: 1px solid #dcdcdc;
						align-items: center;
						.winner-sponsor-avatar {
							height: 30px;
							width: 30px;
							background-size: cover;
							border-radius: 100%;
							background-position: center center;
							background-repeat: no-repeat;
							box-shadow: 0 0 0 3px white, 0 0 0 5px $eth;
							background-image: url("/images/user-pic.jpg");
							margin: 0 10px 0 10px;
						}
						span {
							display: inline-block;
							text-transform: uppercase;
							font-size: 10px;
							letter-spacing: 0.7px;
							&:first-child {
								text-transform: uppercase;
								font-weight: 700;
								font-size: 12px;
								margin-right: 10px;
							}
							&:last-child {
								font-size: 13px;
								font-family: "PT Sans", serif;
								font-weight: 700;
								margin-left: 7px;
								background: $eth;
								color: white;
								padding: 2px 5px 0px;
							}
						}
					}
				}
			}
			.participants {
				background-color: #fff;
				thead {
					tr {
						th {
							color: $eth;
						}
					}
				}
			}
		}
	}
	
	.transfer, .structure {
		&.index {
			.grid-view {
				.table {
					thead {
						tr {
							th {
								background: white;
								border: 1px solid $eth;
								a {
									font-family: $ptsans;
									color: $eth;
									font-size: 14px;
									font-weight: 700;
								}
							}
						}
					}
					tbody {
						tr {
							td {
								font-family: $ptsans;
								font-size: 12px;
								border: 1px solid $eth;
								.empty {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
			
			.pagination {
				width: 100%;
				display: flex;
				justify-content: space-between;
				background-color: white;
				border-radius: 4px;
				align-items: center;
				li {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					&.prev {
						width: 128px;
						padding: 0 40px;
						border-right: 1px solid #909090;
						height: 67px;
						margin-right: 40px;
						a {
							width: 47px;
							height: 47px;
						}
						span {
							height: 67px;
							width: 128px;
							display: flex;
							align-items: center;
							justify-content: center;
							border: 0;
						}
					}
					a {
						width: 47px;
						height: 47px;
						display: flex;
						align-items: center;
						justify-content: center;
						border: 0;
						color: #747474;
						padding: 0;
						&:hover {
							width: 47px;
							height: 47px;
							background-color: $eth;
							border-radius: 100%;
							color: white;
						}
					}
					&.active {
						display: flex;
						align-items: center;
						justify-content: center;
						a {
							width: 47px;
							height: 47px;
							background-color: $eth;
							border-radius: 100%;
							color: white;
						}
					}
					&.next {
						width: 128px;
						padding: 0 40px;
						border-left: 1px solid #909090;
						height: 67px;
						margin-left: 40px;
						a {
							width: 47px;
							height: 47px;
						}
					}
				}
			}
		}
	}
	
	.career {
		.carier-sectiom {
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
			display: flex;
			border-top: 2px solid $eth;
			background-color: white;
			padding-top: 30px;
			padding-bottom: 30px;
			background-image: url("/images/career-bg.png");
			background-repeat: no-repeat;
			background-size: cover;
			@media (max-width: 768px) {
				flex-direction: column;
			}
			.left {
				width: 270px;
				@media (max-width: 768px) {
					width: 100%;
				}
				.header-txt {
					border-left: 3px solid $eth-two;
					padding-left: 30px;
					@media (max-width: 768px) {
						padding: 0 5%;
					}
					h1 {
						font-family: $comfortaa;
						font-size: 24px;
						font-weight: bold;
						text-align: left;
						color: $eth-two;
						margin: 0 0 10px;
					}
					p {
						margin: 0 0 50px;
						font-size: 12px;
						color: #a7a7a7;
						@media (max-width: 768px) {
							margin: 0 0 30px;
						}
					}
				}
				.informer-carier {
					margin-bottom: 30px;
					@media (max-width: 768px) {
						margin-bottom: 0;
					}
					& > div {
						margin-left: 30px;
						height: 85px;
						width: 225px;
						border-radius: 50px;
						text-align: center;
						padding: 25px 0 30px;
						@media (max-width: 768px) {
							width: 100%;
							border-radius: 0;
							height: 80px;
							margin: 0;
						}
						.name {
							font-family: $comfortaa;
							font-size: 13px;
							font-weight: bold;
							text-align: center;
							color: #acacac;
							margin: 0;
							line-height: 1;
							margin-bottom: 7px;
						}
						.money {
							font-family: $comfortaa;
							font-size: 16px;
							font-weight: bold;
							text-align: center;
							color: $eth-two;
							margin: 0;
							line-height: 1;
						}
					}
					#turnover {
						background-color: $eth;
						.name {
							color: #9bcbff;
						}
						.money {
							color: white;
						}
					}
					#payment {
						background-color: white;
						@media (max-width: 768px) {
							background-color: $usd;
							.name, .money {
								color: white;
							}
						}
					}
					
					#lottery {
						background-color: white;
						@media (max-width: 768px) {
							border-bottom: 1px solid darkgray;
							margin-bottom: 20px;
						}
					}
				}
			}
			
			.right {
				width: auto;
				padding-right: 30px;
				display: flex;
				@media (max-width: 768px) {
					padding: 0 5%;
				}
				.middle {
					width: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 40px;
					margin-right: 20px;
					@media (max-width: 768px) {
						margin: 0;
					}
					.progress-vertical {
						display: flex;
						height: 100%;
						.top-line {
							width: 12px;
							background: linear-gradient(#e7e8e8, $eth);
							border-radius: 5px;
							height: 100%;
							@media (max-width: 768px) {
								width: 8px;
							}
						}
						.circke {
							width: 35px;
							height: 35px;
							background: white;
							border: 3px solid $eth;
							border-radius: 100%;
							position: relative;
							right: 24px;
							@media (max-width: 768px) {
								width: 20px;
								height: 20px;
								right: 15px;
							}
						}
					}
				}
				.rang-block {
					margin: 0 0 10px 30px;
					@media (max-width: 768px) {
						margin: 0 0 15px;
					}
					.header-rang {
						h3 {
							font-family: $comfortaa;
							font-size: 16px;
							font-weight: 300;
							text-align: left;
							color: #595959;
							margin: 0;
							line-height: 1.05;
							@media (max-width: 768px) {
								font-size: 13px;
							}
							&:before {
								content: ' ';
								display: inline-block;
								width: 30px;
								height: 22px;
								background-image: url("/images/success.png");
								background-repeat: no-repeat;
								background-size: 23px auto;
								position: relative;
								top: 7px;
								@media (max-width: 768px) {
									height: 17px;
									background-size: contain;
									top: 5px;
								}
							}
						}
						p {
							@extend .display-none;
							margin: 0;
						}
					}
					.next-bonus {
						@extend .display-none;
						p {
							margin: 0;
							span {
							}
						}
					}
					
					&.current {
						.header-rang {
							h3 {
								color: $eth;
								margin: 10px 0 7px;
								@media (max-width: 768px) {
									margin-bottom: 0;
								}
								&:before {
									background-image: url("/images/medal.png");
									background-size: 18px;
									height: 30px;
									float: left;
									top: 0;
								}
							}
							p {
								@extend .display-block;
								font-family: $ptsans;
								font-size: 12px;
								text-align: left;
								color: #9b9b9b;
							}
						}
					}
					
					&.next {
						display: flex;
						flex-direction: column;
						padding: 20px 35px 21px;
						border-radius: 40px;
						box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
						background-color: #ffffff;
						border: solid 3px $eth-two;
						margin-left: 0;
						max-width: 500px;
						@media (max-width: 768px) {
							padding: 15px 25px;
							border: 2px solid $eth-two;
						}
						.header-rang {
							h3 {
								color: #7fce59;
								line-height: 19px;
								font-weight: 700;
								margin-bottom: 6px;
								text-transform: uppercase;
								font-size: 16px;
								@media (max-width: 768px) {
									font-size: 13px;
								}
								&:before {
									content: ' ';
									display: inline-block;
									width: 30px;
									height: 22px;
									background-image: url("/images/right-arrow.png");
									background-repeat: no-repeat;
									background-size: 23px auto;
									position: relative;
									top: 7px;
									@media (max-width: 768px) {
										display: block;
										height: 14px;
										background-size: contain;
										top: 15px;
										left: -20px;
									}
								}
							}
							p {
								@extend .display-none;
							}
						}
						.next-bonus {
							display: flex;
							flex-direction: column;
							p {
								padding-left: 15px;
								border-left: 1px solid #8a8a8a;
								color: #8a8a8a;
								font-size: 14px;
								margin-left: 15px;
								@media (max-width: 768px) {
									padding-left: 6px;
									color: #6a6a6a;
									font-size: 12px;
									margin-left: 0;
								}
								span {
									color: $usd;
								}
								&:last-child {
									margin-top: 5px;
									padding-left: 1px;
									border-left: 0 solid #8a8a8a;
									color: #007bff;
									font-size: 16px;
									margin-left: 0;
									text-transform: uppercase;
									font-weight: 700;
									span {
										color: $eth;
										font-size: 18px;
									}
								}
							}
						}
					}
					&.after {
						.header-rang {
							h3 {
								&:before {
									background-image: url("/images/close.png");
									background-size: 19px auto;
									top: 4px;
									@media (max-width: 768px) {
										background-image: url("/images/close.png");
										background-size: contain;
										top: 2px;
										width: 31px;
										height: 19px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	&.indoor {
		max-width: 75%;
		@media (min-height: 1200px) {
			width: 80%;
		}
		@media (max-width: 768px) {
			width: 100%;
			min-width: 100%;
		}
		.outdoor-layout {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			justify-content: space-between;
		}
		.header-indoor {
			background: $eth;
			height: 76px;
			.full-width {
				width: 100%;
				height: 76px;
				display: flex;
				justify-content: space-between;
				padding-left: 30px;
				@media (max-width: 768px) {
					width: 100%;
					padding: 0;
				}
				.logo {
					display: flex;
					justify-content: center;
					align-items: center;
					@media (max-width: 768px) {
						display: none;
					}
					img {
						max-height: 65px;
						height: 100%;
						width: 100%;
					}
				}
				.btn-group {
					height: 76px;
					@media (max-width: 768px) {
						position: absolute;
						z-index: 4;
						background: $eth;
						width: 100%;
					}
					button {
						&.lang {
							height: 76px;
							background: transparent;
							color: white;
							display: inline-flex;
							justify-content: center;
							align-items: center;
							width: 200px;
							border-radius: 0;
							box-shadow: 0 0 0;
							font-family: $comfortaa;
							border-left: 1px solid $eth-two;
							font-size: 15px;
							@media (max-width: 768px) {
								width: 100%;
								border: 0 solid $eth;
							}
							&:focus, &:active, &:hover {
								box-shadow: 0 0 0;
								background: white;
								opacity: 1;
								color: $eth;
								@media (max-width: 768px) {
									background-color: $eth;
									color: white;
								}
							}
							svg {
								margin-right: 3px;
								width: 21px;
								color: $eth-two;
							}
							&:after {
								content: " ▼";
								font-size: 8px;
								margin-left: 1px;
								color: $eth-two;
							}
						}
					}
					
					&.open {
						.dropdown-menu-right {
							@media (max-width: 768px) {
								min-width: 100%;
								width: 100%;
								max-width: 100%;
								display: flex;
								background-color: $eth;
								&:focus, &:active, &:hover {
									background-color: $eth;
								}
							}
						}
					}
					
					.dropdown-menu-right {
						min-width: 200px;
						width: 200px;
						max-width: 200px;
						padding: 0;
						text-align: center;
						border-radius: 0;
						box-shadow: 0 0 0;
						border: 0;
						background-color: $eth;
						margin: 0;
						.dropdown-item {
							color: #fff;
							font-size: 16px;
							font-weight: 700;
							display: flex;
							justify-content: center;
							align-items: center;
							line-height: 16px;
							padding: 20px 0;
							border-bottom: 2px solid $eth-two;
							@media (max-width: 768px) {
								width: 50%;
								border: 2px solid $eth-two;
								background-color: $eth;
							}
							&:first-child {
								border-top: 2px solid $eth-two;
								@media (max-width: 768px) {
									border-right: 1px solid $eth-two;
								}
								&:hover {
									border-radius: 0;
								}
							}
							&:hover {
								background-color: #fff;
								border-radius: 0;
								color: $eth;
								cursor: pointer;
							}
							&:last-child {
								border-top: 0 solid $eth-two;
								@media (max-width: 768px) {
									border-top: 2px solid $eth-two;
									border-left: 1px solid $eth-two;
								}
								&:hover {
									border-radius: 0;
								}
							}
							span {
								display: inline-block;
								margin-right: 5px;
								font-size: 20px;
								line-height: 16px;
							}
						}
					}
				}
			}
		}
		
		.news {
			width: 100%;
			height: 100%;
			max-width: 50%;
			margin: 0 auto;
			.news-list {
				width: 100%;
				height: 50vh;
				max-height: 1000px;
				overflow-y: scroll;
				margin: 0 auto;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
				min-height: 452px;
			}
			h1 {
				font-size: 18px;
				color: #757575;
				margin: 25px 0;
			}
			.post {
				margin: 0 0 20px;
				background: white;
				&:first-child {
					margin-bottom: 0;
				}
				.img {
					width: 100%;
					height: 305px;
					background-size: cover;
					background-repeat: no-repeat;
				}
				.right {
					display: flex;
					flex-direction: column;
					padding: 25px 30px;
					&.post-info {
						h3 {
							margin: 0 0 5px;
							color: $eth;
							font-size: 16px;
						}
						.date {
							color: #b6b6b6;
							font-size: 10px;
						}
						.line-post {
							background: #dfdfdf;
							height: 1px;
							width: 100%;
							margin: 11px 0;
						}
						.lead {
							color: #767676;
							font-size: 13px;
							p {
								&::after {
									content: '... ';
								}
							}
						}
						.readmore {
							color: $eth;
							font-size: 12px;
						}
					}
				}
			}
		}
		
		.breadcrumbs {
			width: 100%;
			background: transparent;
		}
		
		//
		
		.content {
			margin-top: 0;
			background-color: #e4e5e7;
			box-shadow: -1px 0 3px rgba(0, 0, 0, 0.2);
			main {
				display: flex;
				.login, .signup, .request {
					min-height: 703px;
					background-color: white;
					width: 25%;
					background-image: url("/images/register-bg.jpg");
					background-repeat: no-repeat;
					background-size: cover;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 1;
					padding: 100px 70px;
					height: 100%;
					@media (min-width: 1200px) {
						width: 25%;
					}
					@media (max-width: 768px) {
						width: 100%;
						padding: 150px 70px;
					}
					.logo {
						display: flex;
						justify-content: center;
						margin-bottom: 60px;
						img {
							width: 220px;
							height: 100%;
						}
					}
					h1 {
						color: $eth;
						text-align: center;
						font-size: 18px;
						margin-bottom: 20px;
					}
					p.description {
						font-family: $ptsans;
						color: #9b9b9b;
						font-size: 14px;
						text-align: center;
					}
					form {
						max-width: 400px;
						margin: 0 auto;
						.fields {
							.form-group {
								input {
									border: 0;
									border-radius: 0;
									border-bottom: 1px solid #909090;
									box-shadow: 0 0 0;
									font-size: 14px;
									margin-bottom: 10px;
									background-color: transparent;
									&:focus {
										border-bottom: 2px solid $eth;
									}
								}
								.help-block {
									margin: 0;
								}
								&.field-sponsor {
									margin: 0;
									#user-sponsor {
										margin: 0;
									}
								}
							}
						}
						.sponsor {
							text-align: center;
							font-size: 11px;
							margin: 5px 0 0;
							color: #909090;
						}
						.control {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							button {
								height: 35px;
								border-radius: 25px;
								background: $eth;
								width: 100%;
								color: #fff;
								font-size: 14px;
								border: 0;
								margin: 17px auto 15px;
							}
							a {
								color: #909090;
								font-size: 13px;
							}
						}
					}
				}
			}
		}
		footer {
			height: 76px;
			margin: 30px 0 0;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 15px 0;
			background-image: none;
			p {
				color: white;
				margin: 0;
			}
		}
	}
	.fancybox-slide {
		-webkit-backface-visibility: visible !important;
		backface-visibility: visible !important;
		display: block !important;
	}
	.user-refback {
		::-moz-focus-outer, ::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
		input[type='range'] {
			overflow: hidden;
			-webkit-appearance: none;
			background-color: #9a905d;
			box-shadow: none;
			&:focus {
				border: 0;
				box-shadow: none;
				-webkit-box-shadow: none;
				outline: none;
			}
			//
			&::-webkit-slider-runnable-track {
				height: 6px;
				-webkit-appearance: none;
				margin-top: -1px;
				width: 100%;
				cursor: pointer;
				background-color: $eth;
				border-radius: 3px;
			}
			//
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 14px;
				height: 14px;
				cursor: ew-resize;
				margin-top: -4px;
				border-radius: 50%;
				background-color: #9c9c9c;
				border: 1px solid #646464;
			}
			&::-moz-range-progress {
				background-color: $eth;
			}
			&::-moz-range-track {
				background-color: #9a905d;
			}
			&::-ms-fill-lower {
				background-color: $eth;
			}
			&::-ms-fill-upper {
				background-color: #9a905d;
			}
		}
		.info-refbeck {
			padding-left: 20%;
		}
		#refback-number {
			font-size: 24px;
			color: $eth;
			font-weight: 700;
			//	text-align: center;
			margin-bottom: 5px;
		}
	}
}

#tooltip-settings {
	position: relative;
	&:before {
		content: attr(data-description);
		box-sizing: border-box;
		display: block;
		background: rgba(0, 0, 0, .7);
		color: white;
		padding: 20px;
		position: absolute;
		left: 50%;
		top: -120px;
		margin-left: -100px;
		width: 200px;
		height: 65px;
		line-height: 25px;
		text-align: center;
		border-radius: 5px;
		opacity: 0;
		transition: .25s ease-in-out;
	}
	
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 35px;
		left: 50%;
		margin-left: -8px;
		height: 0;
		width: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid rgba(0, 0, 0, .7);
		transition: .25s ease-in-out;
		opacity: 0;
	}
	
	&:hover:before {
		opacity: 1;
		top: -80px;
	}
	
	&:hover:after {
		opacity: 1;
		top: -15px;
	}
}

.info-wallets {
	padding-left: 23%;
	position: relative;
	top: -15px;
	font-size: 12px;
	color: #acacac;
}

// .s2 designer
