@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700|Open+Sans:300,400,600,700&subset=cyrillic");
#calculator-app h1, #calculator-app h2, #calculator-app h3, #calculator-app label, #calculator-app a {
  font-family: "Old Standard TT", serif; }
#calculator-app p, #calculator-app ul, #calculator-app li, #calculator-app span, #calculator-app .currencies {
  font-family: "Open Sans", sans-serif; }

#calculator-app {
  max-width: 1170px;
  margin: 0 auto; }
  #calculator-app .header-calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto; }
    #calculator-app .header-calc h2 {
      text-transform: uppercase;
      text-align: center;
      color: #a25247;
      font-weight: 700;
      font-size: 30px;
      margin: 35px 0 30px; }
    #calculator-app .header-calc p {
      color: #e6d3c1;
      text-transform: uppercase;
      margin: 0 0 40px; }
  #calculator-app .program-list {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    max-width: 1170px;
    margin: 0 auto; }
    #calculator-app .program-list .program {
      border: 3px solid #e6d3c1;
      padding: 5px;
      margin-bottom: 40px;
      width: 100%;
      text-align: center;
      height: 100%; }
      #calculator-app .program-list .program:nth-child(2) {
        margin: 0 30px 0; }
      #calculator-app .program-list .program .plans {
        border: 1px solid #e6d3c1;
        padding: 65px 0 50px;
        position: relative; }
        #calculator-app .program-list .program .plans .cyrcle {
          height: 60px;
          width: 60px;
          position: absolute;
          background-color: #fff;
          padding: 5px;
          border-radius: 100%;
          display: flex; }
          #calculator-app .program-list .program .plans .cyrcle div {
            border-radius: 100%;
            padding: 5px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: #fff; }
          #calculator-app .program-list .program .plans .cyrcle.top.left {
            border-bottom: 1px solid #e6d3c1;
            transform: rotate(-45deg);
            width: 30px;
            height: 30px;
            top: -20px;
            left: -20px;
            background-color: transparent; }
            #calculator-app .program-list .program .plans .cyrcle.top.left div {
              border-bottom: 3px solid #e6d3c1; }
          #calculator-app .program-list .program .plans .cyrcle.top.right {
            border-bottom: 1px solid #e6d3c1;
            transform: rotate(45deg);
            width: 30px;
            height: 30px;
            top: -20px;
            right: -20px;
            background-color: transparent; }
            #calculator-app .program-list .program .plans .cyrcle.top.right div {
              border-bottom: 3px solid #e6d3c1; }
          #calculator-app .program-list .program .plans .cyrcle.bottom.left {
            border-bottom: 1px solid #e6d3c1;
            transform: rotate(-130deg);
            width: 30px;
            height: 30px;
            bottom: -20px;
            left: -20px;
            background-color: transparent; }
            #calculator-app .program-list .program .plans .cyrcle.bottom.left div {
              border-bottom: 3px solid #e6d3c1; }
          #calculator-app .program-list .program .plans .cyrcle.bottom.right {
            border-bottom: 1px solid #e6d3c1;
            transform: rotate(130deg);
            width: 30px;
            height: 30px;
            bottom: -20px;
            right: -20px;
            background-color: transparent; }
            #calculator-app .program-list .program .plans .cyrcle.bottom.right div {
              border-bottom: 3px solid #e6d3c1; }
        #calculator-app .program-list .program .plans h2 {
          margin: 0;
          text-transform: uppercase;
          color: #e6d3c1;
          font-size: 30px; }
        #calculator-app .program-list .program .plans .bg-head {
          background-image: url("https://office.antikvar-plus.com/images/calc.jpg");
          width: 210px;
          height: 19px;
          background-size: 100% auto;
          margin: 20px auto;
          transform: rotate(180deg); }
        #calculator-app .program-list .program .plans ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          #calculator-app .program-list .program .plans ul li {
            display: flex;
            justify-content: center; }
            #calculator-app .program-list .program .plans ul li span {
              font-size: 16px; }
              #calculator-app .program-list .program .plans ul li span.name {
                margin: 0 4px 0 0;
                color: #adadad; }
              #calculator-app .program-list .program .plans ul li span.value {
                color: #e6d3c1;
                font-weight: 700; }
              #calculator-app .program-list .program .plans ul li span.space-val::before {
                content: " - ";
                display: inline-block; }
      #calculator-app .program-list .program:hover {
        cursor: pointer;
        border: 3px solid #a25247; }
      #calculator-app .program-list .program.active, #calculator-app .program-list .program:hover {
        border: 3px solid #a25247; }
        #calculator-app .program-list .program.active .plans, #calculator-app .program-list .program:hover .plans {
          border: 1px solid #a25247; }
          #calculator-app .program-list .program.active .plans .cyrcle.top.left, #calculator-app .program-list .program:hover .plans .cyrcle.top.left {
            border-color: #a25247; }
            #calculator-app .program-list .program.active .plans .cyrcle.top.left div, #calculator-app .program-list .program:hover .plans .cyrcle.top.left div {
              border-color: #a25247; }
          #calculator-app .program-list .program.active .plans .cyrcle.top.right, #calculator-app .program-list .program:hover .plans .cyrcle.top.right {
            border-color: #a25247; }
            #calculator-app .program-list .program.active .plans .cyrcle.top.right div, #calculator-app .program-list .program:hover .plans .cyrcle.top.right div {
              border-color: #a25247; }
          #calculator-app .program-list .program.active .plans .cyrcle.bottom.left, #calculator-app .program-list .program:hover .plans .cyrcle.bottom.left {
            border-color: #a25247; }
            #calculator-app .program-list .program.active .plans .cyrcle.bottom.left div, #calculator-app .program-list .program:hover .plans .cyrcle.bottom.left div {
              border-color: #a25247; }
          #calculator-app .program-list .program.active .plans .cyrcle.bottom.right, #calculator-app .program-list .program:hover .plans .cyrcle.bottom.right {
            border-color: #a25247; }
            #calculator-app .program-list .program.active .plans .cyrcle.bottom.right div, #calculator-app .program-list .program:hover .plans .cyrcle.bottom.right div {
              border-color: #a25247; }
          #calculator-app .program-list .program.active .plans h2, #calculator-app .program-list .program:hover .plans h2 {
            color: #a25247; }
          #calculator-app .program-list .program.active .plans .bg-head, #calculator-app .program-list .program:hover .plans .bg-head {
            background-image: url("https://office.antikvar-plus.com/images/h-calc.jpg"); }
          #calculator-app .program-list .program.active .plans ul li span.value, #calculator-app .program-list .program:hover .plans ul li span.value {
            color: #a25247; }
  #calculator-app .calculator-bottom {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    align-items: flex-end; }
    #calculator-app .calculator-bottom .choose-currency {
      width: 100%;
      margin: 0 15px 0 0; }
      #calculator-app .calculator-bottom .choose-currency h3 {
        font-size: 30px;
        color: #a25247;
        margin: 0 0 10px; }
      #calculator-app .calculator-bottom .choose-currency .currencies {
        display: flex;
        flex-wrap: wrap;
        height: 255px;
        align-content: space-between;
        justify-content: space-between; }
        #calculator-app .calculator-bottom .choose-currency .currencies div {
          width: 48%;
          cursor: pointer;
          border: 2px solid #222230;
          box-sizing: border-box;
          text-align: center;
          border-radius: 5px;
          height: 75px;
          font-weight: 700;
          font-size: 24px;
          display: flex;
          align-items: center;
          justify-content: center; }
          #calculator-app .calculator-bottom .choose-currency .currencies div:hover {
            background-color: #222230;
            cursor: pointer;
            color: #f6c358; }
          #calculator-app .calculator-bottom .choose-currency .currencies div:nth-child(2n) {
            margin-left: 4%; }
          #calculator-app .calculator-bottom .choose-currency .currencies div.active {
            background-color: #222230;
            color: #f6c358; }
    #calculator-app .calculator-bottom .calculator-bottom-right {
      margin-left: 15px;
      width: 100%;
      background-color: #222230;
      padding: 30px 4%;
      border-radius: 15px; }
      #calculator-app .calculator-bottom .calculator-bottom-right .choose-amount .error .error-message {
        color: #ffffff;
        font-family: "Old Standard TT", serif;
        font-size: 14px; }
      #calculator-app .calculator-bottom .calculator-bottom-right .choose-amount label {
        font-size: 30px;
        margin: 0;
        color: #f6c358;
        font-weight: 700; }
      #calculator-app .calculator-bottom .calculator-bottom-right .choose-amount input {
        width: 100%;
        margin: 30px 0 20px;
        border-radius: 10px;
        height: 50px;
        font-size: 16px;
        border: 0;
        padding: 10px 20px;
        font-weight: 700; }
        #calculator-app .calculator-bottom .calculator-bottom-right .choose-amount input::after {
          content: "$"; }
      #calculator-app .calculator-bottom .calculator-bottom-right ul.summary {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        #calculator-app .calculator-bottom .calculator-bottom-right ul.summary li {
          padding: 0;
          color: #ffffff; }
          #calculator-app .calculator-bottom .calculator-bottom-right ul.summary li .value {
            color: #f6c358;
            font-weight: 700;
            font-size: 24px; }
      #calculator-app .calculator-bottom .calculator-bottom-right .invested {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        max-width: 280px;
        padding: 5px;
        margin-top: 20px;
        background-image: url("https://office.antikvar-plus.com/images/bg-calc-button.jpg");
        border-radius: 10px;
        text-decoration: none; }
        #calculator-app .calculator-bottom .calculator-bottom-right .invested:hover span {
          border-color: #a25247;
          color: #a25247; }
        #calculator-app .calculator-bottom .calculator-bottom-right .invested span {
          width: 100%;
          height: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 2px dashed #b99056;
          border-radius: 10px;
          padding: 13px 20px 8px;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center;
          font-family: "Old Standard TT", serif;
          letter-spacing: 0.4px;
          line-height: 1;
          font-size: 20px;
          color: #222230;
          box-sizing: border-box; }

[data-currency="USD"]::after {
  content: " $ ";
  font-family: sans-serif; }

[data-currency="BTC"]::after {
  content: " ฿ ";
  font-family: sans-serif; }

[data-currency="ETH"]::after {
  content: " Ξ ";
  font-family: sans-serif; }

[data-currency="ETC"]::after {
  content: " ETC ";
  font-family: sans-serif; }

[data-currency="LTC"]::after {
  content: " LTC ";
  font-family: sans-serif; }

[data-currency="DOGE"]::after {
  content: " DOGE ";
  font-family: sans-serif; }
