///Typography
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700|Open+Sans:300,400,600,700&subset=cyrillic');

$open: 'Open Sans', sans-serif;
$old: 'Old Standard TT', serif;

#calculator-app {
	h1, h2, h3, label, a {
		font-family: $old;
	}
	p, ul, li, span, .currencies {
		font-family: $open;
	}
}

/// Colors
$c1: #e6d3c1;
$c2: #a25247;
$h: #222230;
$y: #f6c358;

///Style
#calculator-app {
	max-width: 1170px;
	margin: 0 auto;
	.header-calc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1170px;
		margin: 0 auto;
		h2 {
			text-transform: uppercase;
			text-align: center;
			color: $c2;
			font-weight: 700;
			font-size: 30px;
			margin: 35px 0 30px;
		}
		p {
			color: $c1;
			text-transform: uppercase;
			margin: 0 0 40px;
		}
	}
	.program-list {
		display: flex;
		justify-content: space-between;
		width: 1170px;
		max-width: 1170px;
		margin: 0 auto;
		.program {
			border: 3px solid $c1;
			padding: 5px;
			margin-bottom: 40px;
			width: 100%;
			text-align: center;
			height: 100%;
			&:nth-child(2) {
				margin: 0 30px 0;
			}
			.plans {
				border: 1px solid $c1;
				padding: 65px 0 50px;
				position: relative;
				.cyrcle {
					height: 60px;
					width: 60px;
					position: absolute;
					background-color: #fff;
					//border: 1px solid $c1;
					padding: 5px;
					border-radius: 100%;
					display: flex;
					div {
						//border: 3px solid $c1;
						border-radius: 100%;
						padding: 5px;
						width: 100%;
						height: 100%;
						box-sizing: border-box;
						background-color: #fff;
					}
					&.top.left {
						border-bottom: 1px solid $c1;
						transform: rotate(-45deg);
						width: 30px;
						height: 30px;
						top: -20px;
						left: -20px;
						//background: linear-gradient(-89deg, transparent 6px, #fff 5px, #fff 35px, rgba(255, 255, 255, 0) 10px);
						background-color: transparent;
						div {
							border-bottom: 3px solid $c1;
						}
					}
					&.top.right {
						border-bottom: 1px solid $c1;
						transform: rotate(45deg);
						width: 30px;
						height: 30px;
						top: -20px;
						right: -20px;
						//background: linear-gradient(-89deg, transparent 6px, #fff 5px, #fff 35px, rgba(255, 255, 255, 0) 10px);
						background-color: transparent;
						div {
							border-bottom: 3px solid $c1;
						}
					}
					&.bottom.left {
						border-bottom: 1px solid $c1;
						transform: rotate(-130deg);
						width: 30px;
						height: 30px;
						bottom: -20px;
						left: -20px;
						//background: linear-gradient(-89deg, transparent 6px, #fff 5px, #fff 35px, rgba(255, 255, 255, 0) 10px);
						background-color: transparent;
						div {
							border-bottom: 3px solid $c1;
						}
					}
					&.bottom.right {
						border-bottom: 1px solid $c1;
						transform: rotate(130deg);
						width: 30px;
						height: 30px;
						bottom: -20px;
						right: -20px;
						//background: linear-gradient(-89deg, transparent 6px, #fff 5px, #fff 35px, rgba(255, 255, 255, 0) 10px);
						background-color: transparent;
						div {
							border-bottom: 3px solid $c1;
						}
					}
				}
				h2 {
					margin: 0;
					text-transform: uppercase;
					color: $c1;
					font-size: 30px;
				}
				.bg-head {
					background-image: url("https://office.antikvar-plus.com/images/calc.jpg");
					width: 210px;
					height: 19px;
					background-size: 100% auto;
					margin: 20px auto;
					transform: rotate(180deg);
				}
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						display: flex;
						justify-content: center;
						span {
							font-size: 16px;
							&.name {
								margin: 0 4px 0 0;
								color: #adadad;
							}
							&.value {
								color: $c1;
								font-weight: 700;
							}
							&.space-val {
								&::before {
									content: " - ";
									display: inline-block;
								}
							}
						}
					}
				}
			}
			&:hover {
				cursor: pointer;
				border: 3px solid $c2;
			}
			&.active, &:hover {
				border: 3px solid $c2;
				
				.plans {
					border: 1px solid $c2;
					
					.cyrcle {
						&.top.left {
							border-color: $c2;
							div {
								border-color: $c2;
							}
						}
						&.top.right {
							border-color: $c2;
							div {
								border-color: $c2;
							}
						}
						&.bottom.left {
							border-color: $c2;
							div {
								border-color: $c2;
							}
						}
						&.bottom.right {
							border-color: $c2;
							div {
								border-color: $c2;
							}
						}
					}
					
					h2 {
						color: $c2;
					}
					.bg-head {
						background-image: url("https://office.antikvar-plus.com/images/h-calc.jpg");
					}
					ul {
						li {
							span {
								&.name {
								}
								&.value {
									color: $c2;
								}
							}
						}
					}
				}
			}
		}
	}
	.calculator-bottom {
		display: flex;
		justify-content: space-between;
		width: 1170px;
		margin: 0 auto;
		align-items: flex-end;
		.choose-currency {
			width: 100%;
			margin: 0 15px 0 0;
			h3 {
				font-size: 30px;
				color: $c2;
				margin: 0 0 10px;
			}
			.currencies {
				display: flex;
				flex-wrap: wrap;
				height: ((75px * 3) + (15px * 2));
				align-content: space-between;
				justify-content: space-between;
				& div {
					width: 48%;
					cursor: pointer;
					border: 2px solid $h;
					box-sizing: border-box;
					text-align: center;
					border-radius: 5px;
					height: 75px;
					font-weight: 700;
					font-size: 24px;
					display: flex;
					align-items: center;
					justify-content: center;
					&:hover {
						background-color: $h;
						cursor: pointer;
						color: $y;
					}
					&:nth-child(2n) {
						margin-left: 4%;
					}
					&.active {
						background-color: $h;
						color: $y;
					}
				}
			}
		}
		.calculator-bottom-right {
			margin-left: 15px;
			width: 100%;
			background-color: $h;
			padding: 30px 4%;
			border-radius: 15px;
			.choose-amount {
				.error .error-message {
					color: #ffffff;
					font-family: $old;
					font-size: 14px;
				}
				label {
					font-size: 30px;
					margin: 0;
					color: $y;
					font-weight: 700;
				}
				input {
					width: 100%;
					margin: 30px 0 20px;
					border-radius: 10px;
					height: 50px;
					font-size: 16px;
					border: 0;
					padding: 10px 20px;
					font-weight: 700;
					&::after {
						content: "$";
					}
				}
			}
			ul.summary {
				margin: 0;
				padding: 0;
				list-style-type: none;
				li {
					padding: 0;
					color: #ffffff;
					.name {
					}
					.value {
						color: $y;
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
			.invested {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
				width: 100%;
				max-width: 280px;
				padding: 5px;
				margin-top: 20px;
				background-image: url('https://office.antikvar-plus.com/images/bg-calc-button.jpg');
				border-radius: 10px;
				text-decoration: none;
				&:hover span {
					border-color: $c2;
					color: $c2;
				}
				span {
					width: 100%;
					height: 100%;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					border: 2px dashed #b99056;
					border-radius: 10px;
					padding: 13px 20px 8px;
					text-transform: uppercase;
					font-weight: 700;
					text-align: center;
					font-family: $old;
					letter-spacing: 0.4px;
					line-height: 1;
					font-size: 20px;
					color: $h;
					box-sizing: border-box;
				}
			}
		}
	}
}

@each $currency, $symvol in ('USD', '$'),
 ('BTC', '฿'),
 ('ETH', 'Ξ'),
 ('ETC', 'ETC'),
 ('LTC', 'LTC'),
 ('DOGE', 'DOGE') {
	[data-currency="#{$currency}"] {
		&::after {
			content: ' #{$symvol} ';
			font-family: sans-serif;
		}
	}
}

