<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brython</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"
            integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.5.1/brython.min.js"></script>
    <script type="text/python" src="brython.py"></script>
</head>
<body>
<div id="app">{{ value }}</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      brython(1)
    })
</script>
</body>
</html>
