<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dec hex bin</title>
    <meta name="description" content="Binary/Decimal/Hexadecimal Converter"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"
            integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU="
            crossorigin="anonymous"></script>
</head>
<body>
<h1>dec hex bin</h1>
<div>
    <div></div>
    <div></div>
    <div>
        <div v-for="i in [0, 1, 2, 3]">
            <div></div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Vue({
      data: {

      }
    })
  })
</script>
</body>
</html>
